

<a class="logo" href="/">
    <img src="~/img/logo_merchant.png" />
</a>


<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item nav-user">
            <a class="nav-link active" asp-action="ChangeContact" asp-controller="Account">
                <img src="@AppOptions.CurrentValue.GetImageUrl(CurrentUser.Avatar)" width="32" height="32" class="rounded-circle" />
                <span>@CurrentUser.Name</span>

            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-controller="Campaign" asp-action="Index">
                Danh sách chiến dịch
            </a>
        </li>
        <li class="nav-item dropdown nav-notif">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Notification">
                        Thông báo                        
                    </a>
                </li>
                <li class="list-inline-item">
                    <a asp-action="Index" asp-controller="Notification" data-toggle="dropdown">
                        <i class="fal fa-bell"></i>
                        <span class="badge badge-pill badge-danger" style="display:none">0</span>
                    </a>
                    <div class="dropdown-menu">

                    </div>
                </li>
            </ul>
            
            
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Agency">
                Thông tin tài khoản
            </a>
        </li> 
        <li class="nav-item ">
            <a class="nav-link" asp-controller="Wallet" asp-action="Index">
                Thông tin ví
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-action="Logout" asp-controller="Auth">
                Thoát
            </a>
        </li>

        <li class="nav-item nav-sep">
            <hr />
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="https://microkols.com/introduce.html" target="_blank">Giới thiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://microkols.com/policy.html">Chính sách & Quy định</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://microkols.com/qna.html">Hỏi & Đáp</a>
        </li>
    </ul>
</div>


