<!DOCTYPE html>
<html lang="en">
<head>    
    <partial name="_StylePartial" />
    @RenderSection("Styles", required: false)    
</head>
<body>

    @RenderBody()

    <partial name="_ScriptPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>




