<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-line-graph"></i>
            <span class="m-menu__link-text">
                Biểu đồ
            </span>
            <i class="m-menu__hor-arrow la la-angle-down"></i>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
            <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 73px;"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true">
                    <a href="/campaign/statistic_campaignservice" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-text">
                            Phí dịch vụ
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <a href="/campaign/statistic_campaigncashback" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-text">
                            Rút tiền thừa
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <a href="/campaign/statistic_campaignrevenue" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-text">
                            Lợi nhuận
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
