
@{
    ViewData["Title"] = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebServices.ViewModels.CampaignViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Cấu hình chiến dịch
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/campaigntypecharge" class="m-nav__link">
                <span class="m-nav__link-text">
                    Cấu hình
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/campaign/detail/?campaignid=@Model.Id" class="m-nav__link">
                <span class="m-nav__link-text">
                    @Model.Title
                </span>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Cấu hình chiến dịch: "@(Model.Title)"
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right" method="post" asp-action="Configuration">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="m-portlet__body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group m-form__group">
                        <label for="ServiceChargePercent">
                            Phần trăm phí dịch vụ
                        </label>
                        <input class="form-control m-input m-input--square" asp-for="ServiceChargePercent">
                    </div>                    
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-primary" style="font-family:Roboto;">
                            Đồng ý
                        </button>                       
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>


