@model ChangeFacebookUrlViewModel
@{
    ViewData["Title"] = "Liên kết với tài khoản Facebook";
    Layout = "_LayoutAuth";
}



<p>Liên kết với tài khoản Facebook của bạn</p>
<form method="post">
    <div class="form-group">
        <div class="alert alert-secondary" role="alert">
            <ul class="list-inline mb-n1">
                <li class="list-inline-item"><img src="@CurrentUser.Avatar" width="32" height="32" class="rounded-circle"></li>
                <li class="list-inline-item">@CurrentUser.Name</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label>Facebook Link <span style="color: red">*</span></label>
        <input class="form-control" type="text" placeholder="https://" asp-for="FacebookUrl">
        <span asp-validation-for="FacebookUrl"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg" value="Tiếp tục">
    </div>
</form>

<hr />

<p>
    Bằng việc đăng ký hay đăng nhập, bạn đã đồng ý với
    <a href="https://microkols.com/policy.html">
        <strong> Chính sách</strong> & <strong> Quy định</strong>
    </a>

</p>