
<p class="text-danger text-center">
    <strong>
        @ViewBag.Error
    </strong>
</p>
<hr />
<div class="text-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

</div>
