<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thanh toán </h5>
        </div>

        <div class="modal-body">
            @if (ViewBag.Success != null)
            {

                if (ViewBag.Campaign != null)
                {

                    var campaign = (CampaignDetailsViewModel)ViewBag.Campaign;

            <p class="text-success text-center">

                Cảm ơn quý khách, hệ thống đang kiểm tra lại thông tin nạp tiền chiến dịch @campaign.Code  của quý khách. 
                
                Quý khách sẽ nhận được thông báo tiếp tục thực hiện chiến dịch ngay khi hệ thống xác nhận việc nạp tiền
            </p>
                }
                else
                {
                    <p class="text-success text-center">
                        <strong>
                            @ViewBag.Success
                        </strong>
                    </p>

                }
            }


            @if (ViewBag.Error != null)
            {
                <p class="text-danger text-center">

                    @ViewBag.Error

                </p>
            }

        </div>
        <div class="modal-footer">
            @if (ViewBag.Campaign != null)
            {

                <a href="@Url.Action("Index","AgencyCampaign")" class="btn btn-primary">Đồng ý</a>
            }
            else
            {
                <button type="button" class="btn btn-outline-dark btn-reload">Đóng</button>
            }

        </div>
    </div>
  
</div>