@inject Microsoft.Extensions.Options.IOptions<Website.Code.AppOptions> appOptions
@model WithDrawViewModel

@{
    var amount = (long)ViewBag.Amount;
}


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Rút tiền </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
            <form method="post" action="javascript:;" data-action="@Url.Action("WithDraw","Wallet")" id="frmWithDraw">


                <div class="modal-body">

                    <div>
                        <label>Số dư ví: </label> <span class="text-danger">@amount.ToPriceText()</span>
                    </div>



                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input type="number" asp-for="Amount" class="form-control" min="10000" max="@amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <h6>Thông tin tài khoản</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Number"></label>
                                <input type="text" asp-for="Number" class="form-control" />
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Bank"></label>
                                <input type="text" asp-for="Bank" class="form-control" />
                                <span asp-validation-for="Bank" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Branch"></label>
                                <input type="text" asp-for="Branch" class="form-control" />
                                <span asp-validation-for="Branch" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Note"></label>
                        <textarea asp-for="Note" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Huỷ</button>
                    <input type="submit" value="Gửi yêu cầu rút tiền" class="btn btn-submit btn-primary" />
                </div>
            </form>
     

    </div>
</div>