<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thanh toán </h5>
        </div>

        <div class="modal-body">
            @if (ViewBag.Success != null)
            {

                <p class="text-success text-center">
                    <strong>
                        @ViewBag.Success
                    </strong>
                </p>
            }


            @if (ViewBag.Error != null)
            {
                <p class="text-danger text-center">
                    <strong>
                        @ViewBag.Error
                    </strong>
                </p>
            }
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-reload">Đóng</button>
        </div>
    </div>

</div>