@model ListTransactionViewModel

<form class="m-form m-form--fit m--margin-bottom-20" action="/transaction/campaignservicesearch">
    <div class="row m--margin-bottom-20">
        <div class="col-lg-9 m--margin-bottom-10-tablet-and-mobile">
            <label>
                Từ khóa:
            </label>
            <input type="text" name="keyword" value="@(Context.Request.Query["keyword"])" class="form-control m-input" placeholder="Địa chỉ email hoặc Tên" data-col-index="0">
        </div>
        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
            <label>
                Trạng thái:
            </label>
            <select id="select-transaction-status" class="form-control m-input" asp-for="TransactionStatus" asp-items="@ViewBag.TransactionStatus"></select>
        </div>
    </div>
    <div class="row m--margin-bottom-20">
        <div class="col-lg-6 m--margin-bottom-10-tablet-and-mobile">
        </div>
        <div class="col-lg-6 m--margin-bottom-10-tablet-and-mobile">
            <label>
                Chọn DateTime:
            </label>
            <div class="input-daterange input-group" id="m_datepicker_5">
                <input type="text" class="form-control m-input" asp-for="StartDate">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-ellipsis-h"></i>
                    </span>
                </div>
                <input type="text" class="form-control" asp-for="EndDate">
            </div>
        </div>
    </div>
    <div class="m-separator m-separator--md m-separator--dashed"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="float-right">
                <button class="btn btn-brand m-btn m-btn--icon" id="m_search" type="submit">
                    <span>
                        <i class="la la-search"></i>
                        <span>
                            Search
                        </span>
                    </span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-secondary m-btn m-btn--icon" id="m_reset" type="reset">
                    <span>
                        <i class="la la-close"></i>
                        <span>
                            Reset
                        </span>
                    </span>
                </button>
            </div>

        </div>
    </div>
</form>
