@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "_AuthLayout";

}


<div class="container pt-5">

    <div class="row justify-content-center">


        <div class="col-md-8">


            <h1 class="h3 font-weight-normal mb-4">Quên mật khẩu</h1>

            <div asp-validation-summary="All" class="text-danger"></div>
            <alert></alert>
            <div class="row">
                <div class="col-md-6 border-right">

                    <form asp-action="ForgotPassword" method="post">


                        <div class="form-group">

                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />

                        </div>



                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block ">
                                Quên mật khẩu
                            </button>
                        </div>

                    </form>

                </div>

                <div class="col-md-6">

                    <partial name="_SocialLoginPartial" />

                </div>
            </div>
            <hr />
            <p>
                Bạn chưa có tài khoản?    <a class="text-success" href="@Url.Action("Register")">
                    Đăng ký tài khoản ngay <i class="fal fa-angle-right"></i>
                </a>
            </p>
            <p>
                Bằng việc đăng ký hay đăng nhập, bạn đã đồng ý với <a href="@Url.Action("PrivacyPolicy","Home")">điều khoản sử dụng</a>

            </p>
        </div>
    </div>

</div>

