@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "_AuthLayout";

}

@section scripts{

}

<div class="card card-login shadow p-5">

    <h1 class="mb-5 h3">

        <a asp-action="Index" asp-controller="Home"> <i class="fal fa-arrow-left"></i></a>
        Đăng nhập MICROKOLS APP
    </h1>
    <div class="row">
        <div class="col-md-6">

            <alert></alert>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<form asp-action="Login" method="post">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fal fa-user"></i> </span>
                    </div>
                    <input asp-for="Username" class="form-control" />

                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fal fa-lock"></i> </span>
                    </div>
                    <input asp-for="Password" class="form-control" />

                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>



            <div class="form-group ">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" asp-for="Remember" type="checkbox">
                    <label class="custom-control-label" asp-for="Remember"></label>
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary ">
                    Đăng nhập
                </button>
            </div>

        </form>*@



            <p>
                Tham gia Microkols với tư cách là người có ảnh hưởng với tài khoản Facebook cá nhân của bạn. Chúng tôi sẽ nhận được trang cá nhân và địa chỉ email
            </p>

            <a class="btn btn-block btn-primary" asp-action="LoginFb" asp-controller="Auth">
                <i class="fab fa-facebook"></i> Đăng nhập qua Facebook

            </a>

            @*<p>
            <a class="text-primary" href="@Url.Action("Register")">
                Bạn chưa có tài khoản?
                Đăng ký  ngay <i class="fal fa-angle-right"></i>
            </a>
        </p>
        <p>
            Bằng việc đăng ký hay đăng nhập, bạn đã đồng ý với <a href="@Url.Action("Privacy","Home")">điều khoản sử dụng</a>
        </p>*@

        </div>
        <div class="col-md-5 offset-1">
            <img src="~/img/auth/login-bg.jpg" class="img-fluid" />

        </div>

    </div>

</div>
