@model MarketPlaceViewModel



@{
    var campaignAccount = Model.CampaignAccounts.FirstOrDefault(m => m.AccountId == CurrentUser.Id);
}

<div class="d-flex bd-highlight my-3">
    <div class="mr-auto bd-highlight">
        <h5>Phản hồi duyệt caption</h5>
    </div>
    @*@if (campaignAccount != null)
    {
        <div class="bd-highlight">
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-campaign-form-caption">Gửi caption</button>
        </div>
    }*@


</div>
<h5>@Model.Campaign.Title</h5>
<p>
    <i class="fab fa-facebook"></i> @Model.Campaign.Type.ToDisplayName()
</p>

@if (campaignAccount == null)
{
    <div class="alert alert-info">Bạn chưa tham gia chiến dịch</div>
}
else
{
    if (!string.IsNullOrEmpty(campaignAccount.RefContent))
    {
        <div class="card shadow border-0 mb-2">
            <div class="card-body">
                <div class="text-right">
                    <small>@campaignAccount.DateModified.ToViDateTime()</small>
                </div>
                <p>
                    @campaignAccount.RefContent
                </p>
                <div class="text-right">
                    <span class="badge badge-success">Đã duyệt</span>
                </div>
            </div>
        </div>

    }



}