@model MarketPlaceViewModel

<nav class="shadow-sm">
    <ol class="breadcrumb">

        <li class="breadcrumb-item "><a asp-action="MarketPlace" asp-controller="Campaign" class="breadcrumb-link">Chiến dịch</a></li>
        <li class="breadcrumb-item">
            @ViewData["Title"]
        </li>
    </ol>
</nav>