@model MarketPlaceViewModel

<div class="page-title">
    <div class="h1"> MarketPlace</div>
    <span class=" h3 text-secondary px-2">/</span>
    <h1 class=" h3 text-secondary">Chiến dịch @Model.Campaign.Code</h1>

</div>