@model UpdateCampaignAccountRefImagesViewModel
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form method="post" action="javascript:;" data-action="@Url.Action("UpdateCampaignAccountRefImages","Campaign")" id="frmUpdateCampaignAccountRefImages">
            <div class="modal-header">
                <h5 class="modal-title">Thực hiện công việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              

                <div class="form-group">
                    <label asp-for="RefImage"></label>
                    <div>

                        <div class="mb-2">
                            <input type="file" id="addonImages" class="form-control" data-target="#addonimagewrap" multiple />
                        </div>

                        <div id="addonimagewrap">


                        </div>

                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <input type="hidden" asp-for="CampaignId" />
                <input type="hidden" asp-for="CampaignType" />
                <input type="submit" value="Gửi" class="btn btn-submit btn-primary" />
            </div>
        </form>
    </div>
</div>
