
@{
    ViewData["Title"] = "TransactionAgency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListTransactionViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Wallet Transaction
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/wallet" class="m-nav__link">
                <span class="m-nav__link-text">
                    Wallet
                </span>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/wallet/transactionagency?walletid=@(Context.Request.Query["walletid"])" class="m-nav__link">
                <span class="m-nav__link-text">
                    Transaction
                </span>
            </a>
        </li>
    </ul>
}

@section Subheaders2{

    <ul class="list-inline">
        @if (ViewBag.Wallet != null)
        {
            <li class="list-inline-item">
                <strong class="btn btn-metal" style="font-family:Roboto;text-transform:uppercase;">

                    @if (ViewBag.Wallet.EntityType == 0 && ViewBag.Wallet.EntityId == 0)
                    {
                        <span>Name: </span> <span class="m--font-danger mr-2">System</span>
                    }
                    else
                    {
                        <span>DOANH NGHIỆP: </span> <span class="m--font-danger mr-2">@ViewBag.Account.Name</span>
                    }

                    Số dư ví: <span class="m--font-danger">@(ViewBag.Wallet.Balance.ToString("n0")) đ</span>
                </strong>
            </li>

        }

        <li class="list-inline-item">
            <a href="/wallet/statistic_transactionagency?walletid=@(Context.Request.Query["walletid"])" class="btn m-btn m-btn--gradient-from-focus m-btn--gradient-to-danger" style="font-family:Roboto;">
                BIỂU ĐỒ GIAO DỊCH
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/wallet/transactionhistory?walletid=@(Context.Request.Query["walletid"])" class="btn btn-info m-btn m-btn--icon">
                <span>
                    <i class="fa fa-history"></i>
                    <span>TRANSACTION HISTORY</span>
                </span>
            </a>
        </li>
    </ul>    
}

<div class="row">
    <div class="col-md-12">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Wallet Transaction Agency
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                   
                </div>
            </div>
            <div class="m-portlet__body" style="margin-top:-20px;">

                @await Html.PartialAsync("~/Views/Wallet/_FilterTransactionAgency.cshtml", Model)

                @if (Model != null)
                {

                    @await Html.PartialAsync("~/Views/Wallet/_TransactionItem.cshtml", Model)
                    <div>
                        <pager pager="@Model.Pager" asp-route-walletid="@(Context.Request.Query["walletid"])" asp-action="transactionagency"></pager>
                    </div>
                }
                else
                {
                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                        <div class="m-demo__preview">
                            Sorry, do not have transaction for binding!
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Transaction History
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="iframehistory" src="" height="480px" width="720px" frameborder="0" scrolling="no" style="overflow: hidden;"></iframe>
            </div>

        </div>
    </div>
</div>

