.marketplacedetail {
    .row {
        align-items: center;
        margin-bottom: 1rem;

        i {
            color: $gray-600;
        }
    }

    h6{
        font-weight:600;
    }
    .action {
    }
}
