@import "../lib/bootstrap/dist/scss/bootstrap.scss";
@import "select2-bootstrap4.scss";

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);

    &:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }
}

.input-validation-error {
    border-color: $danger;
}

.field-validation-error {
    color: $danger;
}

#editAccountPriceWrap {
    span {
        color: $danger;
    }

    input {
        display: none;
    }

    &.openedit {
        span {
            display: none;
        }

        input {
            display: inline;
        }
    }
}
