body {
    font-family: Montserrat;
}

.page-signin {
}


.page-signin .logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-signin .logo img {
}



.page-signin .main {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 100vh;
    background: url('../img/bg_auth.jpg') repeat-y top left #fdc854;
    background-attachment: fixed;
}

    .page-signin .tab {
        width: 500px;
        margin: 0 auto;
    }

    .page-signin .logo img {
    }

.form-control {
    border-radius: 0;
}

.content {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 600px;
    margin: 0 auto;
}

    .content .tab-pane {
        padding: 45px;
    }

.nav-pills .nav-link {
    border-radius: 0;
    font-weight: bold;
    background: #E0E0E0;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: -0.015em;
    /* Gray 2 */
    color: #4F4F4F;
}

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #FFFFFF;
        /* Blue 2 */
        color: #2D9CDB;
    }


.btn-fb, .btn-fb:hover {
    background: #2D3E6D;
    border-radius: 67.5px;
    color: #fff;
    font-weight: bold;
}


.btn-primary, .btn-primary:hover {
    background: #18A0FB;
    border-radius: 67.5px;
    color: #fff;
    font-weight: bold;
    padding: .375rem 2rem;
    border: none;
}

.page-title {
    color: #2D9CDB;
    font-size: 30px;
    letter-spacing: -0.015em;
    padding-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px solid #BDBDBD;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {

    .content {
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 300px;
        margin: 0 auto;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .main {
        padding: 0px;
        min-height: 100vh;
    }

    .content .tab-pane {
        padding: 15px 25px 25px 25px;
    }

}

@media screen and (max-width: 320px) {
    .content {
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 300px;
        margin: 0 auto;
    }

    .container {
        
        padding-right: 0px;
        padding-left: 0px;
        
    }

    .main {
        padding: 0px;
        min-height: 100vh;
    }

    .content .tab-pane {
        padding: 15px 25px 25px 25px;
    }
}
