$white: #fff !default;
$black: #000 !default;

$blue: #3C5A99 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #D8AFA4 !default;
$red: red !default;
$orange: #fd7e14 !default;
$yellow: #F0AE67 !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;

// Custom Colors
$brand-google: #ea4335;
$brand-facebook: #3b5998;

$primary: $blue !default;
$danger: $red !default;