@model CampaignDetailsViewModel

@if (Model.Status == CampaignStatus.Ended)
{

    <div class="alert alert-info">
        Chiến dịch đã kết thúc - Hệ thống đang tính toán để trả tiền cho thành viên
    </div>
}
else if (Model.Status == CampaignStatus.Error)
{

    <div class="alert alert-danger">
        Có lỗi xảy ra khi hệ thống đang tính toán giao dịch trong chiến dịch. Vui lòng chờ kỹ thuật xử lý
    </div>
}