@model ListAccountViewModel

@inject Website.Interfaces.IAccountService AccountService

@if (Model == null)
{
    <div class="alert alert-danger">Hãy nhập số lượng Kol trong chiến dịch</div>
}
else
{
    @if (Model.Accounts.Count == 0)
    {
        <div class="alert alert-info">Không có thành viên phù hợp với chiến dịch</div>
    }
    else
    {
        var campaignId = (int)ViewBag.CampaignId;
        var campaignType = (CampaignType)ViewBag.CampaignType;
        var accountTypes = (IEnumerable<AccountType>)ViewBag.AccountTypes;
        <div class="table-responsive" id="tblMatchedAccounts" data-renewurl="@ViewBag.RenewUrl">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Thành viên</th>
                        @if (!accountTypes.Contains(AccountType.Regular))
                        {
                            <th width="200" class="text-center">Chi phí</th>
                            <th width="50">

                            </th>
                        }

                    </tr>
                </thead>
                <tbody>

                    @foreach (var account in Model.Accounts)
                    {
                        <partial name="_AccountItemPartial" model="account" />
                    }

                </tbody>
            </table>
        </div>
    }

}
