@model ListAccountFbPostViewModel
@{
    ViewData["Title"] = "Bài viết đã chia sẻ trên Facebook";
    var type = (int)ViewBag.Type;
}
@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Tài khoản</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

<alert></alert>
<div class="mt-2">
    <form asp-action="UpdateFbPost" asp-controller="Account" method="post">
        <input type="submit" value="Cập Nhật Từ Facebook" class="btn btn-success" />
    </form>
</div>


<ul class="nav nav-tabs nav-linetabs">
    <li class="nav-item">
        <a class="nav-link " asp-action="Index">Tài khoản</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" asp-action="FbPost">@ViewData["Title"]</a>
    </li>

</ul>



<div class="tab-content mt-3">
    <div class="tab-pane fade show active">

        @if (Model.Posts.Count > 0)
        {<div class="row">


                @foreach (var item in Model.Posts)
                {
                    <div class="col-md-3">

                        <partial name="_FbPostItemPartial" model="@item" />

                    </div>
                }

            </div>


            <pager pager="@Model.Pager" asp-action="Index"></pager>
        }
        else
        {
            <div class="alert alert-info">Bạn chưa có bài viết nào</div>
        }
    </div>
</div>