@{ 
    ViewData["Title"] = "Tài khoản";
}
@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Tài khoản</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}


<ul class="nav nav-tabs nav-linetabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">Tài khoản</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="FbPost">Facebook Post</a>
    </li>

</ul>

