
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Change Password
    </h3>
}

