
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Change Password
    </h3>
}

@model ChangePasswordModel


    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Change password
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" method="post" asp-action="/Authen/ChangePassword">
                    
                    <div class="m-portlet__body">
                        <div asp-validation-summary=" All" class="text-danger"></div>
                        <div class="form-group m-form__group">
                            <label asp-for="OldPassword">
                                Old Password
                            </label>
                            <input class="form-control m-input m-input--square" placeholder="Password" asp-for="OldPassword">
                        </div>
                        <div class="form-group m-form__group">
                            <label asp-for="NewPassword">
                                NewPassword
                            </label>
                            <input class="form-control m-input m-input--square" asp-for="NewPassword" placeholder="Password">
                        </div>
                        <div class="form-group m-form__group">
                            <label asp-for="ConfirmNewPassword">
                                Confirm NewPassword
                            </label>
                            <input class="form-control m-input m-input--square" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                Change
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            
       
        </div>
    </div>

