@model int

<ul class="nav  nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(Model== 0 ? "active":"")" asp-action="UpdateAgency">Thông tin doanh nghiệp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model== 1 ? "active":"")" asp-action="ChangePassword">Thay đổi mật khẩu</a>
    </li>
</ul>