@{
    ViewData["Title"] = "Tài khoản";

    var counter = (CampaignCounterViewModel)ViewBag.Counter;
}
@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Tài khoản</a></li>
                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}



<div class="row mt-4">
    <div class="col-md-4 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="text-danger wallet-balance">0</h3>
                
                            <div>
                                <a class="wallet-recharge btn btn-success  btn-sm" href="#">
                                    <i class="fal fa-coins"></i>
                                    Nạp tiền
                                </a>
                                <a class="wallet-withdraw btn btn-info btn-sm" href="#">
                                    <i class="fal fa-coins"></i>
                                    Rút tiền
                                </a>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <i class="fal fa-wallet fa-2x float-right text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    @*<div class="col-md-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3 class="text-primary">@counter.Total</h3>
                                <span>Chiến dịch tham gia</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fal fa-object-group fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>




<div class="row mt-4">

    <div class="col-md-8">
        @await Component.InvokeAsync("TransactionHistory")
    </div>
    <div class="col-md-4">
    </div>
</div>