
<footer class="border-top footer bg-dark py-3  py-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-8 col-xs-12 ps">

                <h3>
                    Micro Kols
                </h3>
                <div>
                    <p>Nền tảng Marketing giúp thương hiệu, doanh nghiệp tiếp cận đến cộng đồng khách hàng tiềm năng theo phong cách tự nhiên, tân tiến và đột phá.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-8 col-xs-12 ps">

                <h3>Về MicroKols</h3>

                <ul class="list-unstyled">
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Quy định & Chính sách</a></li>
                </ul>


            </div>
            <div class="col-md-3 col-sm-8 col-xs-12 ps">

                <h3>Hỗ trợ</h3>

                <ul class="list-unstyled">
                    <li><a href="">Đăng ký</a></li>
                </ul>

            </div>
            <div class="col-md-3 col-sm-8 col-xs-12 ps">

                <h3>Địa chỉ</h3>
                <div class="mb-1">
                    <ul class="list-inline">
                        <li><i class="fal fa-map-marker"></i> @AppSettings.Address</li>
                        <li><i class="fal fa-phone phoneicon"></i> @AppSettings.Phone</li>
                        <li><i class="fal fa-envelope"></i> @AppSettings.Email</li>
                    </ul>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                </ul>

                @*<div class="fb-page fb_iframe_widget" data-href="" data-tabs="messages" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=1355042991189705&amp;container_width=317&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2F7saturdayvietnam&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=messages"><span style="vertical-align: bottom; width: 317px; height: 300px;"><iframe name="f166630fe2454e" width="1000px" height="300px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" ="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.10/plugins/page.php?adapt_container_width=true&amp;app_id=1355042991189705&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df3e0342f547e4b4%26domain%3D7saturday.com%26origin%3Dhttps%253A%252F%252F7saturday.com%252Ff2302c9020f135c%26relation%3Dparent.parent&amp;container_width=317&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2F7saturdayvietnam&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=messages" style="border: none; visibility: visible; width: 317px; height: 300px;" ></iframe></span></div>*@
            </div>
        </div>

        <hr />
        <div>
            Copyright © 2019 Micro KOLs. All Rights Reserved.
        </div>
    </div>
</footer>