<header class="header">
    <nav class="navbar navbar-menu navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Micro KOLs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-flex">

                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Doanh nghiệp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Tin tức</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown nav-notif">
                            <a class="nav-link" asp-action="Index" asp-controller="Notification" data-toggle="dropdown">
                                <i class="fal fa-bell"></i>
                                <span class="badge badge-danger">0</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-action="ChangeContact" asp-controller="Account" data-toggle="dropdown">@CurrentUser.Name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                @if (CurrentUser.Type == Core.Entities.EntityType.Account)
                                {
                                    <a class="dropdown-item" asp-action="ChangeContact" asp-controller="Account"><i class="fal fa-cogs"></i> Cấu hình</a>
                                }
                                else if (CurrentUser.Type == Core.Entities.EntityType.Agency)
                                {
                                    <a class="dropdown-item" asp-action="UpdateAgency" asp-controller="Agency"><i class="fal fa-cogs"></i> Cấu hình</a>

                                }

                                <a class="dropdown-item" asp-action="Logout" asp-controller="Auth"> <i class="fal fa-sign-out"></i> Thoát</a>
                            </div>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-action="AgencyLogin" asp-controller="Auth" data-toggle="dropdown">Doanh nghiệp</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-action="AgencyLogin" asp-controller="Auth"> Đăng nhập</a>
                                <a class="dropdown-item" asp-action="AgencyRegister" asp-controller="Auth"> Đăng ký</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Login">Cá nhân</a></li>

                    }

                    <li>


                    </li>

                </ul>


            </div>
        </div>
    </nav>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar-profile bg-white border-bottom" data-toggle="affix">
            <div class="container">
                <ul class="nav">
                    @if (CurrentUser.Type == Core.Entities.EntityType.Agency)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Agency"> <i class="fal fa-tachometer-alt"></i> Trang chủ </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="AgencyCampaign" asp-action="Index" data-toggle="dropdown">
                                <i class="fal fa-object-group"></i> Chiến dịch

                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="AgencyCampaign" asp-action="Index">Chiến dịch</a>
                                <a class="dropdown-item" asp-controller="AgencyCampaign" asp-action="Create">Thêm chiến dịch</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-item wallet-recharge">Nạp tiền</a>
                        </li>
                    }
                    else if (CurrentUser.Type == EntityType.Account)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Account">

                                <i class="fal fa-tachometer-alt"></i> Trang chủ
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="AccountCampaign" asp-action="Index">
                                <i class="fal fa-object-group"></i>  Chiến dịch
                            </a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link wallet-withdraw" href="javascript:;"> Rút tiền</a>
                        </li>

                    }

                    <li class="nav-item ml-auto">

                        <a class="nav-link">
                            <i class="fal fa-wallet"></i>
                            <span class="wallet-balance text-danger pl-2">&nbsp;</span>
                        </a>

                    </li>


                </ul>


            </div>

        </nav>
    }
</header>