<header class="header">
    <nav class="navbar navbar-menu navbar-expand-sm navbar-toggleable-sm bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                <img src="~/img/logo_white.png" height="30" class="d-inline-block align-top" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-flex">

                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Introduce">Giới thiệu</a>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Policy">Chính sách & Quy định</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Home" asp-action="Policy">Chính sách & Quy định</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Pricing">Cơ chế tính phí</a>

                        </div>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Policy">Chính sách & Quy định</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="QnA">Hỏi & đáp</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AgencyLogin" asp-controller="Auth"> Doanh nghiệp</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown nav-notif">
                            <a class="nav-link" asp-action="Index" asp-controller="Notification" data-toggle="dropdown">
                                <i class="fal fa-bell"></i>
                                <span class="badge badge-danger" style="display:none">0</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-action="ChangeContact" asp-controller="Account" data-toggle="dropdown">@CurrentUser.Name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                @if (CurrentUser.Type == Core.Entities.EntityType.Account)
                                {
                                    <a class="dropdown-item" asp-action="ChangeContact" asp-controller="Account"><i class="fal fa-cogs"></i> Cấu hình</a>
                                }
                                else if (CurrentUser.Type == Core.Entities.EntityType.Agency)
                                {
                                    <a class="dropdown-item" asp-action="UpdateAgency" asp-controller="Agency"><i class="fal fa-cogs"></i> Cấu hình</a>

                                }

                                <a class="dropdown-item" asp-action="Logout" asp-controller="Auth"> <i class="fal fa-sign-out"></i> Thoát</a>
                            </div>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            @*<a class="nav-link" asp-action="Login" asp-controller="Auth">Tài khoản</a>*@

                                <button type="button" class="btn btn-block btn-facebook" data-target="#frmFbLogin">
                                    <i class="fab fa-facebook"></i> Đăng nhập qua Facebook
                                </button>

                                <form action="@Url.Action("GetUserInfo","Auth")" id="frmFbLogin" method="post">
                                    <input type="hidden" name="provider" value="Facebook" />
                                    <input type="hidden" name="token" value="" />
                                </form>
                       

                        </li>
                       
                    }

                    <li>


                    </li>

                </ul>


            </div>
        </div>
    </nav>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar-profile bg-white border-bottom" data-toggle="affix">
            <div class="container">
                <ul class="nav">
                    @if (CurrentUser.Type == Core.Entities.EntityType.Agency)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Agency">
                                <i class="fal fa-tachometer-alt"></i> Trang chủ
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="AgencyCampaign" asp-action="Index" data-toggle="dropdown">
                                <i class="fal fa-object-group"></i> Chiến dịch
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="AgencyCampaign" asp-action="Index">Chiến dịch</a>
                                <a class="dropdown-item" asp-controller="AgencyCampaign" asp-action="Create">Thêm chiến dịch</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Agency">
                                <i class="fal fa-user"></i> Tài khoản
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link wallet-recharge" href="#">
                                <i class="fal fa-coins"></i>
                                Nạp tiền
                            </a>
                        </li>*@
                    }
                    else if (CurrentUser.Type == EntityType.Account)
                    {
                        @*<li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Account">
                    <i class="fal fa-tachometer-alt"></i> Trang chủ
                </a>
            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Notification">
                                <i class="fal fa-bell"></i> Thông báo
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Account">
                                <i class="fal fa-user"></i> Tài khoản
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="AccountCampaign" asp-action="Index">
                                <i class="fal fa-object-group"></i>  Chiến dịch
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Account" asp-action="ChangeAccountType">
                                <i class="fal fa-cogs"></i>  Cấu hình
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">
                                <i class="fal fa-sticky-note"></i>  Quan trọng
                            </a>
                        </li>
                    }

                    <li class="nav-item ml-auto">
                        <span class="nav-link">
                            <i class="fal fa-wallet"></i>
                            <span class="wallet-balance text-danger pl-2">0 đ</span>
                        </span>
                    </li>

                </ul>


            </div>

        </nav>
    }
</header>