<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link href="~/lib/fontawesome-pro-5.2.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/owlcarousel2/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel2/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>

    <partial name="_HeaderPartial" />
    @RenderSection("Top", required: false)
    <div class="container" id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterPartial" />

    <partial name="_CookieConsentPartial" />

    <partial name="_ScriptPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
