@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="alert alert-danger mt-4">

    <p>
        Có lỗi xảy ra với hệ thống. Vui lòng thông báo quản trị để được hỗ trợ.
    </p>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Mã lỗi:</strong> <code>@Model.RequestId</code>
        </p>
    }

</div>
<p>
    Quay lại <a asp-action="Index" asp-controller="Home">Trang chủ</a> để tiếp tục trải  nghiệm MicroKOL
</p>