@model List<NotificationViewModel>
@{
    ViewData["Title"] = "Thông báo";
}

@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Tài khoản</a></li>

                </ol>


                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}


<div class="mt-3">


    @if (Model != null && Model.Count > 0)
    {

    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>STT</th>
                <th>Nơi gửi</th>
                <th>Nội dung</th>
                <th></th>
            </tr>
            @{ 
                var stt = 0;
            }
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td class="text-center">
                        @stt
                    </td>
                    <td>
                        
                        Hệ thống
                    </td>
                    <td>
                        <a href="@Url.GetNotificationUrl(item)">
                            @item.Message
                        </a>
                        <br />
                        <span class="text-muted small"> <i class="fal fa-clock"></i> @item.Date.ToTimeAgo()</span>
                    </td>
                    <td class="text-center">
                        @if (item.Type == NotificationType.AccountDeclineJoinCampaign)
                        {

                            <i class="fal fa-meh fa-2x"></i>
                        }
                        else if (item.Type == NotificationType.AgencyCancelAccountJoinCampaign)
                        {

                            <i class="fal fa-frown fa-2x"></i>
                        }
                        else
                        {
                            <i class="fal fa-smile fa-2x"></i>
                        }
                    </td>
                </tr>

            }
        </tbody>
       
    </table>
       

    }
    else
    {
        <div class="alert alert-info">
            Bạn chưa có thông báo!
        </div>
    }
</div>