
@{
    ViewData["Title"] = "Doanh nghiệp - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="agency-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Doanh nghiệp &amp; Agency</h1>
                    <h6 class="text-left h2 txt-lineheight-2">
                        MICROKOLS xây dựng và mang <br> công nghệ AI giúp quy
                        trình <br> nhanh, rẻ và tốt hơn
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1">
                <div class="col-md-12 column-1">
                    <div class="row pl-70 pt-30 pb-30">
                        <div class="col-md-10">
                            <h1 class="txt-white txt-h1-bold txt-lineheight-2">
                                Hơn 500 công ty đã chọn MICROKOLS là đối tác tin cậy cho các chiến dịch influencer marketing quy mô lớn!
                            </h1>
                            <a href="https://merchant.microkols.com/auth/login" target="_blank" class="btn btn-default btn-bold-text">Bắt đầu ngay &gt;&gt;</a>
                        </div>
                        <div class="col-md-2">
                            <img src="/img/icon_handsake.png" class="img-responsive">
                        </div>
                    </div>
                </div>

            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-50 introduce-row-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="txt-h1-bold-2 txt-blue-2 hidden-xs">Tạo ra sự khác biệt trong cách làm truyền thông của doanh nghiệp với ngân sách nhỏ</h1>
                            <h1 class="txt-h1-bold-2 txt-blue-2 hidden-md visible-xs">01. Tạo ra sự khác biệt trong cách làm truyền thông của doanh nghiệp với ngân sách nhỏ</h1>
                        </div>
                        <div class="col-md-2">
                            <img src="/img/01.png" class="img-responsive hidden-xs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/agency-img-01.png" class="img-responsive">
                            <div class="agency-txt-box-01 hidden-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Doanh nghiệp không làm truyền thông một mình, hãy để những chuyên gia và cả xã hội cùng làm truyền thông với bạn. Bên cạnh đó, ngân sách làm truyền thông không phải vấn đề - bạn có thể triển khai một kế hoạch với mức ngân sách chỉ từ 01 triệu đồng.
                                    </i>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Doanh nghiệp không làm truyền thông một mình, hãy để những chuyên gia và cả xã hội cùng làm truyền thông với bạn. Bên cạnh đó, ngân sách làm truyền thông không phải vấn đề - bạn có thể triển khai một kế hoạch với mức ngân sách chỉ từ 01 triệu đồng.
                                    </i>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--row 3-->

            <div class="row row-3 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="txt-h1-bold-2 txt-blue-2 hidden-xs">Tiếp cận đúng, với số lượng đông đảo influcencer mang lại hiệu quả cho chiến dịch</h1>
                            <h1 class="txt-h1-bold-2 txt-blue-2 visible-xs hidden-md">02.Tiếp cận đúng, với số lượng đông đảo influcencer mang lại hiệu quả cho chiến dịch</h1>
                        </div>
                        <div class="col-md-2">
                            <img src="/img/02.png" class="img-responsive hidden-xs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-offset-md-1 pt-30">
                            <img src="/img/agency-img-02.png" class="img-responsive pull-right">
                            <div class="agency-txt-box-02 hidden-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        MICROKOLS là nền tảng dựa trên dữ liệu mạng xã hội và thuật toán thông minh giúp nhãn hàng kết nối với đúng influencers - là chuyên gia trong lĩnh vực của doanh nghiệp. Chúng tôi có hàng nghìn influencer ở hàng chục lĩnh vực trong xã hội.
                                    </i>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        MICROKOLS là nền tảng dựa trên dữ liệu mạng xã hội và thuật toán thông minh giúp nhãn hàng kết nối với đúng influencers - là chuyên gia trong lĩnh vực của doanh nghiệp. Chúng tôi có hàng nghìn influencer ở hàng chục lĩnh vực trong xã hội.
                                    </i>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40 hidden-xs">
                        <div class="col-md-4 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Chọn influencer phù hợp nhất dựa vào AI &amp; Big Data</h1>
                                </li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_nano_influencer.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        MICROKOLS là nền tảng dựa trên dữ liệu mạng xã hội và thuật toán thông minh giúp nhãn hàng kết nối với đúng influencers - là chuyên gia trong lĩnh vực của doanh nghiệp. Chúng tôi có hàng nghìn influencer ở hàng chục lĩnh vực trong xã hội.
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        
                        <div class="col-md-4 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Real Verify: Ngày tàn của “fake” influencers</h1>
                                </li>
                                <li class="pt-30"></li>
                                <li class="hidden-xs">
                                    <img src="/img/icon-fake-news.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        “Real Verify” là một trong những công nghệ đột phá của Microkols giúp nhãn hàng khỏi lãng phí tiền bạc và thời gian.
                                        Chúng tôi giúp bạn phát hiện và ngừng làm việc
                                        với các influencer giả. Tiền của bạn sẽ được tập trung vào đúng người và do đó kết quả cao hơn
                                    </h6>
                                </li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        
                        <div class="col-md-4 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Minh bạch trong báo giá</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-10"></li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_contract.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Influencer sẽ báo giá trực tiếp mà không bị ảnh hưởng bởi các bên thứ ba
                                        và do đó giúp nhãn hàng tự tin hơn trong việc hợp tác.
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row pt-40 hidden-md visible-xs">
                        <div class="col-md-3 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-400">
                                <li>
                                    <h1 class="txt-bold">Chọn influencer phù hợp nhất dựa vào AI &amp; Big Data</h1>
                                </li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_nano_influencer.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        MICROKOLS là nền tảng dựa trên dữ liệu mạng xã hội và thuật toán thông minh giúp nhãn hàng kết nối với đúng influencers - là chuyên gia trong lĩnh vực của doanh nghiệp. Chúng tôi có hàng nghìn influencer ở hàng chục lĩnh vực trong xã hội.
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-400">
                                <li>
                                    <h1 class="txt-bold">Real Verify: Ngày tàn của “fake” influencers</h1>
                                </li>                                
                                <li class="hidden-xs">
                                    <img src="/img/icon-fake-news.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        “Real Verify” là một trong những công nghệ đột phá của Microkols giúp nhãn hàng khỏi lãng phí tiền bạc và thời gian.
                                        Chúng tôi giúp bạn phát hiện và ngừng làm việc
                                        với các influencer giả. Tiền của bạn sẽ được tập trung vào đúng người và do đó kết quả cao hơn
                                    </h6>
                                </li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_white p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-200">
                                <li>
                                    <h1 class="txt-bold">Minh bạch trong báo giá</h1>
                                </li>                                                                
                                <li class="hidden-xs">
                                    <img src="/img/icon_contract.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Influencer sẽ báo giá trực tiếp mà không bị ảnh hưởng bởi các bên thứ ba
                                        và do đó giúp nhãn hàng tự tin hơn trong việc hợp tác.
                                    </h6>
                                </li>                                
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
            <!--row 4-->

            <div class="row row-4 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="txt-h1-bold-2 txt-blue-2 hidden-xs">Quản lý và Báo cáo trong một nốt nhạc</h1>
                            <h1 class="txt-h1-bold-2 txt-blue-2 hidden-md visible-xs">03.Quản lý và Báo cáo trong một nốt nhạc</h1>

                        </div>
                        <div class="col-md-2">
                            <img src="/img/03.png" class="img-responsive hidden-xs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/agency-img-03.png" class="img-responsive">
                            <div class="agency-txt-box-03 hidden-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Chúng tôi kết hợp công nghệ lẫn con người để đảm bảo trải nghiệm của bạn là tốt nhất
                                    </i>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Chúng tôi kết hợp công nghệ lẫn con người để đảm bảo trải nghiệm của bạn là tốt nhất
                                    </i>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40 hidden-xs">
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Thuật toán kết nối thông minh và nhanh chóng</h1>
                                </li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_brain.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Tìm và kết nối với đúng influencers trong 1 giây.
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Quy trình đơn giản</h1>
                                </li>
                                <li class="pt-30"></li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_quytrinh.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Tất cả các bước trong 1 chiến dịch được thực hiện online và tích hợp vào 1 giao diện duy nhất theo quy trình sau:
                                        <ul class="list-unstyled">
                                            <li>1.Gửi yêu cầu</li>
                                            <li>2.Chọn influencer</li>
                                            <li>3.Duyệt nội dung &amp; thực thi chiến dịch</li>
                                            <li>4.Báo cáo</li>
                                        </ul>
                                    </h6>
                                </li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-600">
                                <li>
                                    <h1 class="txt-bold">Hỗ trợ tận tâm</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-10"></li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_support.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Chúng tôi luốn có đội ngũ vận hành và chăm sóc khách hàng để hỗ trợ khách hàng khi có yêu cầu.
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row pt-40 visible-xs hidden-md">
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-200">
                                <li>
                                    <h1 class="txt-bold">Thuật toán kết nối thông minh và nhanh chóng</h1>
                                </li>
                                <li class="hidden-xs">
                                    <img src="/img/icon_brain.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Tìm và kết nối với đúng influencers trong 1 giây.
                                    </h6>
                                </li>                                                                
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-300">
                                <li>
                                    <h1 class="txt-bold">Quy trình đơn giản</h1>
                                </li>                                
                                <li class="hidden-xs">
                                    <img src="/img/icon_quytrinh.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Tất cả các bước trong 1 chiến dịch được thực hiện online và tích hợp vào 1 giao diện duy nhất theo quy trình sau :
                                        <ul class="list-unstyled">
                                            <li>1.Gửi yêu cầu</li>
                                            <li>2.Chọn influencer</li>
                                            <li>3.Duyệt nội dung &amp; thực thi chiến dịch</li>
                                            <li>4.Báo cáo</li>
                                        </ul>                                                                                
                                    </h6>
                                </li>                                

                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 bg_grey p-20 agency-stage-02-box">
                            <ul class="list-unstyled h-200">
                                <li>
                                    <h1 class="txt-bold">Hỗ trợ tận tâm</h1>
                                </li>                                
                                <li class="hidden-xs">
                                    <img src="/img/icon_support.png">
                                </li>
                                <li>
                                    <h6 class="h4 txt-lineheight">
                                        Chúng tôi luốn có đội ngũ vận hành và chăm sóc khách hàng để hỗ trợ khách hàng khi có yêu cầu.
                                    </h6>
                                </li>                        
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
            <!--row 5-->
            <div class="row row-5 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Hơn <strong class="txt-gray">500</strong> nhãn hàng hợp tác với Microkols</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6 col-xs-12">
                            <h4 class="pb-20 txt-gray txt-lineheight w-75 hidden-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                            <h4 class="pb-20 txt-gray txt-lineheight hidden-md visible-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                            <img src="/img/phay.png" class="img-phay hidden-xs">
                            <div class="txt-box hidden-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                        Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                    </i>
                                </h4>
                            </div>
                            <h4 class="visible-xs hidden-sm hidden-md hidden-lg">
                                <i class="txt-lineheight">
                                    Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                    Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                </i>
                            </h4>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="/img/img_romano.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <img src="/img/logo_brand.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!--row Video Gallery-->
            @Html.Partial("_Partial/VideoGallery.cshtml");
            <!--row 6-->
            @Html.Partial("_Partial/QnA.cshtml");
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

