
@{
    ViewData["Title"] = "Liên hệ - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Liên hệ</h1>
                    <h6 class="text-left h2 txt-lineheight-2">Chúng tôi rất sẵn lòng<br> hợp tác cùng bạn</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Quan tâm đến MicroKols?<br>Đừng ngại liên lạc với chúng tôi!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/contact-img-01.png" class="img-responsive">
                            <div class="contact-txt-box-01 hidden-xs text-left">

                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Họ &amp; Tên">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row pt-40">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Công ty">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Chức vụ">
                                        </div>
                                    </div>
                                    <div class="row pt-40">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="5" placeholder="Nội dung liên lạc"></textarea>
                                        </div>
                                    </div>
                                    <div class="row pt-40">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-regular-text">Gửi đi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="visible-xs text-left pt-30">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Họ &amp; Tên">
                                        </div>
                                        <div class="col-md-6 pt-10">
                                            <input type="text" class="form-control input-lg" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row pt-10">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-lg" placeholder="Công ty">
                                        </div>
                                        <div class="col-md-6 pt-10">
                                            <input type="text" class="form-control input-lg" placeholder="Chức vụ">
                                        </div>
                                    </div>
                                    <div class="row pt-10">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="5" placeholder="Nội dung liên lạc"></textarea>
                                        </div>
                                    </div>
                                    <div class="row pt-10">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-regular-text">Gửi đi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

