@{
    ViewData["Title"] = "Trang chủ - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
}

<section id="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Nền tảng</h1>
                    <h2 class="text-left h1">MICROKOLS</h2>
                    <h3 class="text-left h1">tối ưu hàng đầu tại</h3>
                    <h4 class="text-left h1">
                        Việt Nam

                    </h4><h5 class="h4"><strong><i>Tìm hiểu thêm thông tin bạn là:</i></strong></h5>

                    <ul class="list-inline list-unstyled text-left">
                        <li>
                            <a class="btn btn-primary btn-bold-text btn-lg btn-lg-radius" href="/agency.html" role="button">Tôi là Doanh nghiệp</a>
                        </li>
                        <li>
                            <a class="btn btn-danger btn-bold-text btn-lg btn-lg-radius" href="/influencer.html" role="button">Tôi là Influencer</a>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1">
                <div class="col-md-4 column-1">
                    <div class="row pl-70 pt-30">
                        <div class="col-md-3">
                            <img src="/img/icon_influencer.png" class="pt-30">
                        </div>
                        <div class="col-md-9">
                            <h1 class="txt-white txt-h1-bold">Mạng lưới</h1>
                            <h2 class="h1 txt-white txt-h1-bold">
                                Influencer lớn
                            </h2>
                        </div>
                    </div>
                    <h4 class="ml-70 pb-40 txt-white txt-lineheight">Nhãn hàng có thể kết nối với những influencers ở 26 lĩnh vực với lượng fans từ 5,000 đến 2,000,000 người.</h4>
                </div>
                <div class="col-md-4 column-2">
                    <div class="row pl-70 pt-30">
                        <div class="col-md-3">
                            <img src="/img/icon_tech.png" class="pt-30">
                        </div>
                        <div class="col-md-9">
                            <h1 class="txt-gray txt-h1-bold">Công nghệ</h1>
                            <h2 class="h1 txt-gray txt-h1-bold">
                                tiên tiến
                            </h2>
                        </div>
                    </div>
                    <h4 class="ml-70 pb-40 txt-gray txt-lineheight">Chúng tôi ứng dụng AI vào toàn bộ quá trình trong chiến dịch để làm nó nhanh hơn, rẻ hơn và tốt hơn.</h4>
                </div>
                <div class="col-md-4 column-3">
                    <div class="row pl-70 pt-30">
                        <div class="col-md-3">
                            <img src="/img/icon_software.png" class="pt-30">
                        </div>
                        <div class="col-md-9">
                            <h1 class="txt-gray txt-h1-bold">Phần mềm</h1>
                            <h2 class="h1 txt-gray txt-h1-bold">
                                toàn diện
                            </h2>
                        </div>
                    </div>
                    <h4 class="ml-70 pb-40 txt-gray txt-lineheight">Chúng tôi giúp bạn dễ dàng làm việc, mọi lúc, mọi nơi, online và di động.</h4>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Tại sao nên chọn MICROKOLS</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6">
                            <img src="/img/img1.png" class="img-responsive">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="/img/icon_target.png">
                                </div>
                                <div class="col-md-8 pl-30">
                                    <h1 class="txt-gray txt-h1-bold">Đối với Doanh nghiệp</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-1">
                                    <h4 class="pl-20 pb-20 txt-gray txt-lineheight">
                                        Microkols giúp các Nhà quảng cáo truyền tải thông điệp tới hàng trăm nghìn khách hàng tiềm năng thông qua Influence.
                                    </h4>
                                    <ul>
                                        <li class="pb-20 h4"><strong>Viral thương hiệu mạnh mẽ</strong></li>
                                        <li class="pb-20 h4"><strong>Thúc đẩy tăng trưởng doanh thu</strong></li>
                                        <li class="h4"><strong>Quản lý chiến dịch dễ dàng</strong></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row pt-40">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="/img/icon_nano_influencer.png">
                                </div>
                                <div class="col-md-8 pl-30">
                                    <h1 class="txt-gray txt-h1-bold">Đối với Influencer</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-1">
                                    <h4 class="pl-20 pb-20 txt-gray txt-lineheight">
                                        Cơ hội gia tăng thu nhập từ cộng đồng bạn đang sở hữu và ngày càng trở nên thành công và nổi tiếng.
                                    </h4>
                                    <ul>
                                        <li class="pb-20 h4"><strong>Đa dạng chiến dịch</strong></li>
                                        <li class="pb-20 h4"><strong>Tương tác dễ dàng</strong></li>
                                        <li class="h4"><strong>Trải nghiệm hay, thu tiền ngay</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/img/img2.png" class="img-responsive">
                        </div>

                    </div>
                </div>
            </div>
            <!--row 4-->
            <div class="row row-4 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Những con số đáng chú ý</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="/img/icon_phone.png" class="pt-30">
                                </div>
                                <div class="col-md-8 pl-50">
                                    <h1 class="txt-gray txt-h1-bold">Cộng đồng dẫn đầu mạng xã hội</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-1">
                                    <h4 class="pl-40 pb-20 txt-gray txt-lineheight">
                                        Mạng lưới Người ảnh hưởng rộng lớn bao phủ khắp các lĩnh vực từ thời trang, giáo dục, làm đẹp, giải trí, thể thao... hàng đầu Việt Nam.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="/img/icon_prototype.png" class="pt-30">
                                </div>
                                <div class="col-md-8 pl-50">
                                    <h1 class="txt-gray txt-h1-bold">100K+ Nội dung sáng tạo được tạo ra mỗi ngày</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-1">
                                    <h4 class="pl-40 pb-20 txt-gray txt-lineheight">
                                        Sở hữu khoảng 20 triệu fan, mỗi nội dung sáng tạo có thể tiếp cận tới 50 triệu người với 3 triệu tương tác liên tục.
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row pt-40 row-circle">
                        <div class="col-md-12">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <div class="shape-circle solid-color-1">
                                        <h1>2500+</h1>
                                    </div>
                                    <h2 class="h4">Tin tức - Giải trí</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-2">
                                        <h1>6000+</h1>
                                    </div>
                                    <h2 class="h4">Influencer</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-3">
                                        <h1>200+</h1>
                                    </div>
                                    <h2 class="h4">Nhân vật hư cấu</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-4">
                                        <h1>200M+</h1>
                                    </div>
                                    <h2 class="h4">Lượt hâm mộ</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-5">
                                        <h1>70M+</h1>
                                    </div>
                                    <h2 class="h4">Tiếp cận</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-6">
                                        <h1>30M+</h1>
                                    </div>
                                    <h2 class="h4">Tương tác</h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 5-->
            <div class="row row-5 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Hơn <strong class="txt-gray">500</strong> nhãn hàng hợp tác với Microkols</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6 col-xs-12">
                            <h4 class="pb-20 txt-gray txt-lineheight w-75">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                            <img src="/img/phay.png" class="img-phay hidden-xs">
                            <div class="txt-box hidden-xs">
                                <h4>
                                    <i class="txt-lineheight">
                                        Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                        Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                    </i>
                                </h4>
                            </div>
                            <h4 class="visible-xs hidden-sm hidden-md hidden-lg">
                                <i class="txt-lineheight">
                                    Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                    Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                </i>
                            </h4>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="/img/img_romano.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <img src="/img/logo_brand.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!--row 6-->
            <div class="row row-6 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Hãy tham gia cùng chúng tôi ngay hôm nay!</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <h4 class="pb-20 txt-gray txt-lineheight w-75">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <ul class="list-inline list-unstyled text-left">
                                <li>
                                    <a class="btn btn-primary btn-bold-text btn-lg btn-lg-radius" href="/agency.html" role="button">Tôi là Doanh nghiệp</a>
                                </li>
                                <li>
                                    <a class="btn btn-danger btn-bold-text btn-lg btn-lg-radius" href="/influencer.html" role="button">Tôi là Influencer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")

        </div>
        <div class="col-md-2 right-column hidden-xs">            
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>
