
@{
    ViewData["Title"] = "Người ảnh hưởng - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="influencer-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Influencer</h1>
                    <h6 class="text-left h2 txt-lineheight-2">
                        Chúng tôi giúp bạn tương tác  <br> với những thương hiệu mà
                        <br> bạn yêu thích
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page" class="influencer-page">
    <div class="row">
        <div class="col-md-10 left-column">

            <!--row 1-->
            <div class="row row-1 influencer-bg-row-1">
                <div class="col-md-12 column-1">
                    <div class="row pl-70 pt-30 pb-30">
                        <div class="col-md-10">
                            <h1 class="txt-white txt-h1-bold txt-lineheight-2">
                                Hơn 10,000 influencers đã tham gia <br> và tiếp tục tăng lên mỗi ngày
                            </h1>
                            <a href="https://influencer.microkols.com/" target="_blank" class="btn btn-start btn-danger-2 btn-bold-text flex-center">Bắt đầu ngay &gt;&gt;</a>
                        </div>
                        <div class="col-md-2 row-1-icon">
                            <img src="/img/icon-influencer-row-1.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-50 influencer-row2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Bạn có phù hợp là influencer tại MICROKOLS?</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/influencer-img-01.png" class="img-responsive">
                            <div class="influencer-txt-box-01 hidden-xs">
                                <h4 class="h2">
                                    <span class="txt-lineheight">
                                        Bạn chỉ cần có tài khoản facebook sử dụng thường xuyên (tài khoản chính) với ít nhất 1000 friends và tồn tại tối thiểu 03 năm
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        Bạn chỉ cần có tài khoản facebook sử dụng thường xuyên (tài khoản chính) với ít nhất 1000 friends và tồn tại tối thiểu 03 năm
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30 row-fls">
                            <div class="influencer-txt-box-02 hidden-xs text-right">
                                <h4 class="h2">
                                    <span class="txt-lineheight">
                                        Nghiêm túc trong công việc và thành thật với những thông tin khai báo
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        Nghiêm túc trong công việc và thành thật với những thông tin khai báo
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/influencer-img-02.png" class="img-responsive pull-right">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/influencer-img-03.png" class="img-responsive">
                            <div class="influencer-txt-box-01 hidden-xs">
                                <h4 class="h2">
                                    <span class="txt-lineheight">
                                        Có đam mê hoặc là chuyên gia ở một số lĩnh vực, thích chia sẻ những thông tin có ích và không vi phạm pháp luật tới xã hộ
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        Có đam mê hoặc là chuyên gia ở một số lĩnh vực, thích chia sẻ những thông tin có ích và không vi phạm pháp luật tới xã hộ
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-50 influencer-row3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Quy trình làm việc đơn giản</h1>
                        </div>
                    </div>
                    <div class="row pt-40 fl-jc hidden-xs">
                        <div class="bg_white p-40 influencer-box">
                            <ul class="list-unstyled">
                                <li>
                                    <h1 class="txt-bold">Đăng ký tài khoản</h1>
                                </li>
                                <li>
                                    <img src="/img/icon_influencer_customer_01.png">
                                </li>
                            </ul>
                        </div>
                        <div class="bg_white p-40 influencer-box">
                            <ul class="list-unstyled">
                                <li>
                                    <h1 class="txt-bold">Nhận quảng bá và thực thi</h1>
                                </li>
                                <li>
                                    <img src="/img/icon_influencer_ex_01.png">
                                </li>
                            </ul>
                        </div>
                        <div class="bg_white p-40 influencer-box">
                            <ul class="list-unstyled">
                                <li>
                                    <h1 class="txt-bold">Nhận thanh toán</h1>
                                </li>
                                <li>
                                    <img src="/img/icon_influencer_pay_03.png">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pt-40 hidden-md visible-xs">
                        <div class="col-md-12 bg_white p-20">
                            <ul class="list-unstyled h-200">
                                <li>
                                    <h2 class="h2 txt-bold"><img src="/img/icon_influencer_customer_01.png" width="42"> Đăng ký tài khoản</h2>
                                    <h2 class="h2 txt-bold"><img src="/img/icon_influencer_ex_01.png" width="42"> Nhận quảng bá và thực thi</h2>
                                    <h2 class="h2 txt-bold"><img src="/img/icon_influencer_pay_03.png" width="42"> Nhận thanh toán</h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 4-->
            <div class="row row-4 pl-70 pt-40 pb-50 influencer-row4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Sự nghiệp của bạn là ưu tiên hàng đầu của chúng tôi</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/influencer-img-04.png" class="img-responsive">
                            <div class="influencer-txt-box-01 hidden-xs">
                                <h1 class="txt-bold">An toàn và bảo mật</h1>
                                <h4 class="h3">
                                    <span class="txt-lineheight">
                                        Hệ thống của chúng tôi được tạo nên dưới sự cho phép của facebook, những quyền mà chúng tôi sử dụng đều được facebook cấp phép và giám sát, chúng tôi ưu tiên yếu tố bảo mật
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">An toàn và bảo mật</h1>
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        Hệ thống của chúng tôi được tạo nên dưới sự cho phép của facebook, những quyền mà chúng tôi sử dụng đều được facebook cấp phép và giám sát, chúng tôi ưu tiên yếu tố bảo mật
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30 row-fls">
                            <div class="influencer-txt-box-02 hidden-xs text-right ">
                                <h1 class="txt-bold">Thực hiện dễ dàng</h1>
                                <h4 class="h3">
                                    <span class="txt-lineheight">
                                        Việc thực hiện chiến dịch truyền thông đơn giản hơn những gì bạn nghĩ. Chỉ cần bạn nghiêm túc và có tâm.
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">Thực hiện dễ dàng</h1>
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        Việc thực hiện chiến dịch truyền thông đơn giản hơn những gì bạn nghĩ. Chỉ cần bạn nghiêm túc và có tâm.
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/influencer-img-05.png" class="img-responsive pull-right">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/influencer-img-06.png" class="img-responsive">
                            <div class="influencer-txt-box-01 hidden-xs">
                                <h1 class="txt-bold">Thanh toán hàng tháng</h1>
                                <h4 class="h3">
                                    <span class="txt-lineheight">
                                        MicroKOLs sẽ thanh toán cho bạn dựa trên những chiến dịch mà bạn đã thực hiện thành công.
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">Thanh toán hàng tháng</h1>
                                <h4 class="h4">
                                    <span class="txt-lineheight">
                                        MicroKOLs sẽ thanh toán cho bạn dựa trên những chiến dịch mà bạn đã thực hiện thành công.
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--row Video Gallery-->
            @Html.Partial("_Partial/VideoGallery.cshtml");
            <!--row 6-->
            @Html.Partial("_Partial/QnA.cshtml");
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

