
@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="introduce-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Giới thiệu</h1>
                    <h6 class="text-left h2 txt-lineheight-2">Về chúng tôi - Microkols.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="introduce-txt-box-02 hidden-xs text-right">
                                <h1 class="txt-bold">Microkols là nền tảng influencer marketing dẫn đầu Việt Nam</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        Chúng tôi giúp hơn 10,000 influencers, từ các nghệ sĩ đường phố đến beauty blogger và fashion stylist, bắt đầu,
                                        xây dựng và phát triển sự nghiệp influencer chuyên nghiệp. Được hỗ trợ bới công nghệ tiên tiến,
                                        hơn 500 nhãn hàng đã tin và sử dụng Hiip để hợp tác và xây dựng mối quan hệ với influencers để quảng bá sản phẩm và dịch vụ thành công.
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">Microkols là nền tảng influencer marketing dẫn đầu Việt Nam</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        Chúng tôi giúp hơn 10,000 influencers, từ các nghệ sĩ đường phố đến beauty blogger và fashion stylist, bắt đầu,
                                        xây dựng và phát triển sự nghiệp influencer chuyên nghiệp. Được hỗ trợ bới công nghệ tiên tiến,
                                        hơn 500 nhãn hàng đã tin và sử dụng Hiip để hợp tác và xây dựng mối quan hệ với influencers để quảng bá sản phẩm và dịch vụ thành công.
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/introduce-img-01.png" class="img-responsive pull-right">
                        </div>
                    </div>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-50 bg_grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Doanh nghiệp</h1>
                        </div>
                        <div class="col-md-2">
                            <img src="/img/01.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/introduce-img-02.png" class="img-responsive">
                            <div class="agency-txt-box-01 hidden-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Quyền lợi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Doanh nghiệp được sử dụng dịch vụ đúng yêu cầu trong khoảng chi phí đã bỏ ra </p>
                                        <p>- Được hỗ trợ và tư vấn trong mọi trường hợp khi sử dụng dịch vụ</p>
                                        <p>- Có quyền yêu cầu được hoàn tiền trong trường hợp dịch vụ không cung cấp đúng như thỏa thuận</p>
                                        <p>- Được cung cấp báo cáo (nếu cần) sau khi chiến dịch kết thúc</p>
                                        <p>- Doanh nghiệp được quyền sử dụng thông tin/hình ảnh mà người dùng đã đăng tải thông qua hệ thống, trong vòng 03 tháng tính từ ngày người dùng đăng thông tin lên trang cá nhân của mình mà không chịu thêm bất cứ chi phí nào</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Quyền lợi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Doanh nghiệp được sử dụng dịch vụ đúng yêu cầu trong khoảng chi phí đã bỏ ra </p>
                                        <p>- Được hỗ trợ và tư vấn trong mọi trường hợp khi sử dụng dịch vụ</p>
                                        <p>- Có quyền yêu cầu được hoàn tiền trong trường hợp dịch vụ không cung cấp đúng như thỏa thuận</p>
                                        <p>- Được cung cấp báo cáo (nếu cần) sau khi chiến dịch kết thúc</p>
                                        <p>- Doanh nghiệp được quyền sử dụng thông tin/hình ảnh mà người dùng đã đăng tải thông qua hệ thống, trong vòng 03 tháng tính từ ngày người dùng đăng thông tin lên trang cá nhân của mình mà không chịu thêm bất cứ chi phí nào</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-5 bg_white p-20">
                            <ul class="list-unstyled h-700">
                                <li>
                                    <h1 class="txt-bold">Nghĩa vụ</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li>
                                    <h6 class="h5 txt-lineheight">
                                        <p>- Cung cấp thông tin đúng sự thật và không vi phạm pháp luật </p>
                                        <p>- Sử dụng dịch vụ đúng quy định của pháp luật </p>
                                        <p>- Chịu mọi trách nhiệm về mặt pháp lý với thông tin mình cung cấp </p>
                                        <p>- Thanh toán trước khi sử dụng dịch vụ </p>
                                        <p>- Thực hiện dịch vụ trong vòng 10 ngày tính từ ngày nạp tiền vào hệ thống </p>
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-5"></li>

                                <li>
                                    <img src="/img/introduce-img-03.png" class="img-responsive">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 bg_white p-20">
                            <ul class="list-unstyled h-700">
                                <li>
                                    <h1 class="txt-bold">Chế tài</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li>
                                    <h6 class="h5 txt-lineheight">
                                        <p>- Doanh nghiệp cần nạp tiền trước khi sử dụng dịch vụ</p>
                                        <p>- Doanh nghiệp chỉ được rút phần tiền còn dư khi hệ thống không đáp ứng được yêu cầu hoặc người dùng đã đăng ký nhưng không thực hiện chiến dịch. Doanh nghiệp chịu phí chuyển hoàn</p>
                                        <p>- Doanh nghiệp đã nạp tiền nhưng chủ động không thực hiện chiến dịch bị trừ 20% số tiền của chiến dịch đó</p>
                                        <p>- Thời gian sử dụng một dịch vụ thông thường là 10 ngày tính từ ngày nạp tiền</p>
                                        <p>- Thời gian sử dụng dịch vụ của KOLs không quá 15 ngày tính từ ngày nạp tiền</p>
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li>
                                    <img src="/img/introduce-img-04.png" class="img-responsive">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-50" style="background-color: #ffffff">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Influencer</h1>
                        </div>
                        <div class="col-md-2">
                            <img src="/img/02.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/introduce-img-05.png" class="img-responsive">
                            <div class="introduce-txt-box-01 hidden-xs">
                                <h1 class="txt-bold">Quyền lợi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Được hưởng thu nhập công khai, theo quy định đã được thống nhất với hệ thống sau khi thực hiện công việc đúng, đủ yêu cầu của hệ thống</p>
                                        <p>- Được quyền bảo hộ thương hiệu cá nhân, sở hữu của bản thân và là duy nhất trên hệ thống</p>
                                        <p>- Được quyền cung cấp các thông tin rõ ràng liên quan tới thu nhập của bản thân</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">Quyền lợi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Được hưởng thu nhập công khai, theo quy định đã được thống nhất với hệ thống sau khi thực hiện công việc đúng, đủ yêu cầu của hệ thống</p>
                                        <p>- Được quyền bảo hộ thương hiệu cá nhân, sở hữu của bản thân và là duy nhất trên hệ thống</p>
                                        <p>- Được quyền cung cấp các thông tin rõ ràng liên quan tới thu nhập của bản thân</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="introduce-txt-box-02 hidden-xs text-right">
                                <h1 class="txt-bold">Nghĩa vụ</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Khai báo thông tin thật, thuộc quyền sở hữu của chính mình: Thông tin và facebook cá nhân</p>
                                        <p>- Nộp thuế thu nhập cá nhân với khoản doanh thu của mình (hệ thống sẽ chủ động và trực tiếp khấu trừ với mỗi lần thanh toán), thuế thu nhập cá nhân được khấu trừ trực tiếp là 10% trên phần thu nhập cho mỗi lần thanh toán</p>
                                        <p>- Thực hiện đúng yêu cầu của hệ thống</p>
                                        <p>- Không làm ảnh hưởng xấu tới hệ thống, chiến dịch của khách hàng bằng bất cứ hành vi nào</p>
                                        <p>- Chịu mọi trách nhiệm liên quan do mình gây ra</p>
                                        <p>- Trường hợp facebook thật bị hack người dùng có thể được đổi sang một facebook khác, khi đó người dùng sẽ buộc phải bị xét duyệt lại, thời gian xét duyệt có thể kéo dài - không xác định. Nhưng hệ thống phát hiện việc này là gian dối, người dùng sẽ bị xóa tài khoản vĩnh viễn</p>
                                        <p>- Doanh nghiệp được quyền sử dụng thông tin/hình ảnh mà người dùng đã đăng tải thông qua hệ thống, trong vòng 03 tháng tính từ ngày người dùng đăng thông tin lên trang cá nhân của mình mà không chịu thêm bất cứ chi phí nào</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs">
                                <h1 class="txt-bold">Nghĩa vụ</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- Khai báo thông tin thật, thuộc quyền sở hữu của chính mình: Thông tin và facebook cá nhân</p>
                                        <p>- Nộp thuế thu nhập cá nhân với khoản doanh thu của mình (hệ thống sẽ chủ động và trực tiếp khấu trừ với mỗi lần thanh toán), thuế thu nhập cá nhân được khấu trừ trực tiếp là 10% trên phần thu nhập cho mỗi lần thanh toán</p>
                                        <p>- Thực hiện đúng yêu cầu của hệ thống</p>
                                        <p>- Không làm ảnh hưởng xấu tới hệ thống, chiến dịch của khách hàng bằng bất cứ hành vi nào</p>
                                        <p>- Chịu mọi trách nhiệm liên quan do mình gây ra</p>
                                        <p>- Trường hợp facebook thật bị hack người dùng có thể được đổi sang một facebook khác, khi đó người dùng sẽ buộc phải bị xét duyệt lại, thời gian xét duyệt có thể kéo dài - không xác định. Nhưng hệ thống phát hiện việc này là gian dối, người dùng sẽ bị xóa tài khoản vĩnh viễn</p>
                                        <p>- Doanh nghiệp được quyền sử dụng thông tin/hình ảnh mà người dùng đã đăng tải thông qua hệ thống, trong vòng 03 tháng tính từ ngày người dùng đăng thông tin lên trang cá nhân của mình mà không chịu thêm bất cứ chi phí nào</p>
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/introduce-img-06.png" class="img-responsive pull-right">
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-5 bg_grey p-20">
                            <ul class="list-unstyled h-700">
                                <li>
                                    <h1 class="txt-bold">Thanh toán</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li>
                                    <h6 class="h5 txt-lineheight">
                                        <p>- Người dùng thông thường, hotmom, hotfacebookers, hotteen: được thanh toán phần doanh thu từ ngày 10 – 15 của tháng sau, cho phần thu nhập của tháng trước đó (vd ngày 10 -15 của tháng 02 sẽ nhận được thanh toán cho khoản doanh thu của tháng 01)</p>
                                        <p>- Người dùng là KOLs sẽ được thanh toán vào ngày 10, 25 hàng tháng (sai số 1-2 ngày nếu rơi vào cuối tuần hoặc ngày lễ) nhưng đảm bảo trong vòng ít nhất 07 ngày sau khi kết thúc công việc</p>
                                        <p>- Người dùng phải chịu thuế thu nhập cá nhân, phí chuyển khoản theo quy định của ngân hàng</p>
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li>
                                    <img src="/img/introduce-img-07.png" class="img-responsive">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 bg_grey p-20">
                            <ul class="list-unstyled h-700">
                                <li>
                                    <h1 class="txt-bold">Chế tài</h1>
                                </li>
                                <li class="pt-20"></li>
                                <li>
                                    <h6 class="h5 txt-lineheight">
                                        <p>- Khi người dùng (tất cả) thực hiện không đúng hoặc có hành vi gây ảnh hưởng xấu tới doanh nghiệp/chiến dịch sẽ không được nhận thù lao/thu nhập cho chiến dịch đó</p>
                                        <p>- Khi người dùng đăng ký nhưng không thực hiện hoặc thực hiện không đúng chiến dịch sẽ không được nhận thu nhập của chiến dịch đó, đồng thời bị xóa bỏ tài khoản và vĩnh viễn không thể nhận thông tin chiến dịch liên quan tới phần thế mạnh/lĩnh vực quan tâm đó và không thể bổ sung thế mạnh/lĩnh vực mới thay thế</p>
                                        <p>- Khi người dùng cố tình khai báo sai việc thực hiện chiến dịch: Không thực hiện nhưng vẫn khai báo là có thực hiện chiến dịch, sẽ bị xóa tài khoản hoàn toàn khỏi hệ thống và bị phạt 200% phần doanh thu của chiến dịch đó. Phần doanh thu bị phạt đó sẽ ngay lập tức trừ vào tài khoản của người dùng</p>
                                    </h6>
                                </li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>
                                <li class="pt-20"></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--row 4-->
            <!--row 5-->
            <!--row 6-->
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

