
@{
    ViewData["Title"] = "Chính sách & Quy định - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="policy-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Chính sách &amp; Quy định</h1>
                    <h6 class="text-left h2 txt-lineheight-2">Về chúng tôi - Microkols.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/policy-img-01.png" class="img-responsive">
                            <div class="policy-txt-box-01 hidden-xs text-left">
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Chính sách bảo mật cho bạn biết MicroKols sử dụng thông tin cá nhân của bạn thu thập được tại trang web này như thế nào. Xin vui lòng đọc chính sách bảo mật trước khi sử dụng trang web hoặc gửi bất kỳ thông tin cá nhân nào.</p>
                                        <p>Khi sử dụng trang web, bạn đang chấp nhận những điều được mô tả trong chính sách bảo mật. Những điều này có thể thay đổi, nhưng bất kỳ thay đổi nào cũng đều sẽ được đăng lên và thay đổi sẽ chỉ áp dụng cho các hoạt động và thông tin trên cơ sở tịnh tiến, chứ không phải hồi tố. Bạn nên xem lại chính sách bảo mật bất cứ khi nào bạn truy cập trang web để đảm bảo rằng mình hiểu các thông tin cá nhân mà bạn cung cấp sẽ được sử dụng như thế nào. Chính sách của MicroKols là giữ kín thông tin cá nhân nhận được từ trang web hoàn toàn bí mật và chỉ dùng cho mục đích nội bộ. MicroKols sẽ không chia sẻ thông tin cá nhân của bạn với bất kỳ bên nào khác. Hãy yên tâm rằng MicroKols tôn trọng sự riêng tư của bạn và xử lý dữ liệu cá nhân của bạn với sự cẩn trọng tối đa.</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs text-left">
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Chính sách bảo mật cho bạn biết MicroKols sử dụng thông tin cá nhân của bạn thu thập được tại trang web này như thế nào. Xin vui lòng đọc chính sách bảo mật trước khi sử dụng trang web hoặc gửi bất kỳ thông tin cá nhân nào.</p>
                                        <p>Khi sử dụng trang web, bạn đang chấp nhận những điều được mô tả trong chính sách bảo mật. Những điều này có thể thay đổi, nhưng bất kỳ thay đổi nào cũng đều sẽ được đăng lên và thay đổi sẽ chỉ áp dụng cho các hoạt động và thông tin trên cơ sở tịnh tiến, chứ không phải hồi tố. Bạn nên xem lại chính sách bảo mật bất cứ khi nào bạn truy cập trang web để đảm bảo rằng mình hiểu các thông tin cá nhân mà bạn cung cấp sẽ được sử dụng như thế nào. Chính sách của MicroKols là giữ kín thông tin cá nhân nhận được từ trang web hoàn toàn bí mật và chỉ dùng cho mục đích nội bộ. MicroKols sẽ không chia sẻ thông tin cá nhân của bạn với bất kỳ bên nào khác. Hãy yên tâm rằng MicroKols tôn trọng sự riêng tư của bạn và xử lý dữ liệu cá nhân của bạn với sự cẩn trọng tối đa.</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-50 bg_grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="policy-txt-box-01 hidden-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Cookie / Công nghệ theo dõi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Trang web có thể sử dụng cookie và công nghệ theo dõi tùy thuộc vào các tính năng được cung cấp. Cookie và công nghệ theo dõi rất hữu ích cho việc thu thập thông tin như loại trình duyệt và hệ điều hành, theo dõi số lượng khách truy cập vào trang web, và hiểu biết khách truy cập sử dụng trang web như thế nào. Cookie cũng có thể giúp tùy chỉnh trang web cho khách. Không thể thu thập được thông tin cá nhân thông qua cookie và công nghệ theo dõi khác, tuy nhiên, nếu trước đó bạn đã cung cấp thông tin cá nhân định danh, cookie có thể gắn với các thông tin đó. Cookie và thông tin theo dõi thu thập được có thể được chia sẻ với bên thứ ba. MicroKols cũng sử dụng mã tái tiếp thị đăng nhập khi khách truy cập xem các trang cụ thể, cho phép MicroKols đưa ra các quảng cáo mục tiêu trong tương lai.</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Cookie / Công nghệ theo dõi</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Trang web có thể sử dụng cookie và công nghệ theo dõi tùy thuộc vào các tính năng được cung cấp. Cookie và công nghệ theo dõi rất hữu ích cho việc thu thập thông tin như loại trình duyệt và hệ điều hành, theo dõi số lượng khách truy cập vào trang web, và hiểu biết khách truy cập sử dụng trang web như thế nào. Cookie cũng có thể giúp tùy chỉnh trang web cho khách. Không thể thu thập được thông tin cá nhân thông qua cookie và công nghệ theo dõi khác, tuy nhiên, nếu trước đó bạn đã cung cấp thông tin cá nhân định danh, cookie có thể gắn với các thông tin đó. Cookie và thông tin theo dõi thu thập được có thể được chia sẻ với bên thứ ba. MicroKols cũng sử dụng mã tái tiếp thị đăng nhập khi khách truy cập xem các trang cụ thể, cho phép MicroKols đưa ra các quảng cáo mục tiêu trong tương lai.</p>
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/policy-img-02.png" class="img-responsive pull-right">
                        </div>
                    </div>

                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-50" style="background-color: #ffffff">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/policy-img-03.png" class="img-responsive">
                            <div class="policy-txt-box-01 hidden-xs text-left">
                                <h1 class="txt-bold">Phân phối thông tin</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>MicroKols xử lý tất cả dữ liệu khách hàng phù hợp với Pháp lệnh dữ liệu cá nhân (Riêng tư) ở Việt Nam. MicroKols sẽ không bao giờ bán, chia sẻ hoặc sử dụng bất kỳ thông tin cá nhân nào bạn cung cấp cho MicroKols vì bất kỳ mục đích nào khác hơn là trao đổi với bạn về các sản phẩm, việc đặt chỗ hoặc thư mời đến các sự kiện của MicroKols. MicroKols có thể chia sẻ thông tin với các cơ quan chính phủ hoặc các công ty khác hỗ trợ MicroKols trong việc phòng chống gian lận hoặc điều tra.</p>
                                        <p>MicroKols có thể làm như vậy khi: (1) được pháp luật cho phép hoặc theo yêu cầu của pháp luật; (2) cố gắng để bảo vệ hoặc ngăn chặn gian lận thực tế hoặc tiềm năng hoặc giao dịch trái phép; (3) điều tra gian lận đó đã xảy ra. Các thông tin không được cung cấp cho các công ty này vì mục đích tiếp thị.</p>
                                        <p>Thông tin cá nhân của bạn được lưu giữ an toàn. Chỉ các nhân viên, các đại lý và nhà thầu được ủy quyền (người đã đồng ý giữ thông tin an toàn và bảo mật) có quyền tiếp cận các thông tin này. Tất cả email và bản tin từ trang web này cho phép bạn chọn không tiếp tục nhận thư.</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs text-left">
                                <h1 class="txt-bold">Phân phối thông tin</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>MicroKols xử lý tất cả dữ liệu khách hàng phù hợp với Pháp lệnh dữ liệu cá nhân (Riêng tư) ở Việt Nam. MicroKols sẽ không bao giờ bán, chia sẻ hoặc sử dụng bất kỳ thông tin cá nhân nào bạn cung cấp cho MicroKols vì bất kỳ mục đích nào khác hơn là trao đổi với bạn về các sản phẩm, việc đặt chỗ hoặc thư mời đến các sự kiện của MicroKols. MicroKols có thể chia sẻ thông tin với các cơ quan chính phủ hoặc các công ty khác hỗ trợ MicroKols trong việc phòng chống gian lận hoặc điều tra.</p>
                                        <p>MicroKols có thể làm như vậy khi: (1) được pháp luật cho phép hoặc theo yêu cầu của pháp luật; (2) cố gắng để bảo vệ hoặc ngăn chặn gian lận thực tế hoặc tiềm năng hoặc giao dịch trái phép; (3) điều tra gian lận đó đã xảy ra. Các thông tin không được cung cấp cho các công ty này vì mục đích tiếp thị.</p>
                                        <p>Thông tin cá nhân của bạn được lưu giữ an toàn. Chỉ các nhân viên, các đại lý và nhà thầu được ủy quyền (người đã đồng ý giữ thông tin an toàn và bảo mật) có quyền tiếp cận các thông tin này. Tất cả email và bản tin từ trang web này cho phép bạn chọn không tiếp tục nhận thư.</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--row 4-->
            <div class="row row-4 pl-70 pt-40 pb-50 bg_grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="policy-txt-box-01 hidden-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Hỏi đáp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Nếu bạn có bất kỳ câu hỏi, mối quan tâm, hoặc ý kiến gì về chính sách bảo mật của MicroKols, xin vui lòng liên hệ với MicroKols qua form Liên hệ với MicroKols.</p>
                                        <p>MicroKols giữ quyền thực hiện các thay đổi trong chính sách này. Tất cả thay đổi sẽ được phản ánh trên trang web này.</p>
                                        <p>THỜI GIAN ÁP DỤNG</p>
                                        <p>Chính sách này được áp dụng xuyên suốt thời gian trang web này hoạt động</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Hỏi đáp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Nếu bạn có bất kỳ câu hỏi, mối quan tâm, hoặc ý kiến gì về chính sách bảo mật của MicroKols, xin vui lòng liên hệ với MicroKols qua form Liên hệ với MicroKols.</p>
                                        <p>MicroKols giữ quyền thực hiện các thay đổi trong chính sách này. Tất cả thay đổi sẽ được phản ánh trên trang web này.</p>
                                        <p>THỜI GIAN ÁP DỤNG</p>
                                        <p>Chính sách này được áp dụng xuyên suốt thời gian trang web này hoạt động</p>
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/policy-img-04.png" class="img-responsive pull-right">
                        </div>
                    </div>

                </div>
            </div>

            <!--row 5-->
            <!--row 6-->
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

