
@{
    ViewData["Title"] = "Chính sách & Quy định - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="policy-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Chính sách &amp; Quy định</h1>
                    <h6 class="text-left h2 txt-lineheight-2">Về chúng tôi - Microkols.</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-10 left-column">
            <!--row 1-->
            <div class="row row-1 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/policy-img-01.png" class="img-responsive">
                            <div class="policy-txt-box-01 hidden-xs text-left">
                                <h1 class="txt-bold">1 - Quy định chung</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- MicroKOLs được phép sử dụng những thông tin influencer cung cấp phục vụ cho mục đích thanh toán và chọn lựa đối tượng và các hoạt động khác phục vụ cho các chiến dịch của doanh nghiệp. Những công nghệ mà MicroKOLs sử dụng đều được Facebook cấp quyền và giám sát chặt chẽ. Hãy yên tâm rằng MicroKOLs sử dụng thông tin bạn cung cấp với sự cẩn trọng tối đa.</p>
                                        <p>- Khi sử dụng web nghĩa là bạn đã chấp nhận những quy định mà MicroKOLs đưa ra trong đó có chính sách bảo mật, thanh toán, chế tài khi vi phạm...Tất cả những thay đổi của MicroKOLs sẽ được thông báo và cập nhật lên website hoặc fanpage của MicroKOLs</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs text-left">
                                <h1 class="txt-bold">1 - Quy định chung</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>- MicroKOLs được phép sử dụng những thông tin influencer cung cấp phục vụ cho mục đích thanh toán và chọn lựa đối tượng và các hoạt động khác phục vụ cho các chiến dịch của doanh nghiệp. Những công nghệ mà MicroKOLs sử dụng đều được Facebook cấp quyền và giám sát chặt chẽ. Hãy yên tâm rằng MicroKOLs sử dụng thông tin bạn cung cấp với sự cẩn trọng tối đa.</p>
                                        <p>- Khi sử dụng web nghĩa là bạn đã chấp nhận những quy định mà MicroKOLs đưa ra trong đó có chính sách bảo mật, thanh toán, chế tài khi vi phạm...Tất cả những thay đổi của MicroKOLs sẽ được thông báo và cập nhật lên website hoặc fanpage của MicroKOLs</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-10 pb-50 bg_grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="policy-txt-box-01 hidden-xs" style="background-color: #f2f2f2;top:17px;">
                                <h1 class="txt-bold">2 - Với Doanh nghiệp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p> - Doanh nghiệp sử dụng MicroKOLs chỉ nhằm mục đích tạo và thực hiện các chiến dịch truyền thông, lan tỏa. Doanh nghiệp cần đảm bảo thông tin sản phẩm, dịch vụ mà mình cung cấp là hợp pháp. Khi thực hiện chiến dịch, doanh nghiệp cần thanh toán chi phí trả cho hệ thống và mỗi influencer mà mình lựa chọn. Đồng thời, tự chịu hoàn toàn trách nhiệm với những thông tin mà mình cung cấp, đảm bảo không vi phạm pháp luật. Bên cạnh đó, doanh nghiệp có thể sử dụng nội dung và hình ảnh mà các influencer của hệ thống tạo ra khi thực hiện và liên quan trực tiếp tới chiến dịch trong vòng 03 tháng tính từ ngày chiến dịch bắt đầu triển khai mà không mất thêm chi phí sử dụng hình ảnh vào mục đích truyền thông phục vụ doanh nghiệp của mình, nhưng không gây tổn hại hoặc vào mục đích phi pháp</p>
                                        <p>
                                            - Chính sách thanh toán và thông tin khác với Influencer được quy định cụ thể trên website ở phần hỏi đáp hoặc được gửi tới influencer khi đăng ký thành viên trên MicroKOLs
                                        </p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">2 - Với Doanh nghiệp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p> - Doanh nghiệp sử dụng MicroKOLs chỉ nhằm mục đích tạo và thực hiện các chiến dịch truyền thông, lan tỏa. Doanh nghiệp cần đảm bảo thông tin sản phẩm, dịch vụ mà mình cung cấp là hợp pháp. Khi thực hiện chiến dịch, doanh nghiệp cần thanh toán chi phí trả cho hệ thống và mỗi influencer mà mình lựa chọn. Đồng thời, tự chịu hoàn toàn trách nhiệm với những thông tin mà mình cung cấp, đảm bảo không vi phạm pháp luật. Bên cạnh đó, doanh nghiệp có thể sử dụng nội dung và hình ảnh mà các influencer của hệ thống tạo ra khi thực hiện và liên quan trực tiếp tới chiến dịch trong vòng 03 tháng tính từ ngày chiến dịch bắt đầu triển khai mà không mất thêm chi phí sử dụng hình ảnh vào mục đích truyền thông phục vụ doanh nghiệp của mình, nhưng không gây tổn hại hoặc vào mục đích phi pháp</p>
                                        <p>
                                            - Chính sách thanh toán và thông tin khác với Influencer được quy định cụ thể trên website ở phần hỏi đáp hoặc được gửi tới influencer khi đăng ký thành viên trên MicroKOLs
                                        </p>
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/policy-img-02.png" class="img-responsive pull-right">
                        </div>
                    </div>

                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-50" style="background-color: #ffffff">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <img src="/img/policy-img-03.png" class="img-responsive">
                            <div class="policy-txt-box-01 hidden-xs text-left">
                                <h1 class="txt-bold">3 - Với influencer</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p> - Influencer tham gia hệ thống sẽ nhận được các quyền lợi hợp pháp, đồng thời cần tuân thủ các quy định của MicroKOLs.</p>
                                        <p> - Influencer tham gia hệ thống cần cung cấp đầy đủ thông tin để xác minh bản thân, tài khoản nhằm phục vụ mục đích lựa chọn đối tượng và phân phối thông tin của chiến dịch cũng như thanh toán khi thực hiện thành công các chiến dịch.</p>
                                        <p> - Không thực hiện sai hoặc làm ảnh hưởng xấu tới chiến dịch, doanh nghiệp. Chịu mọi chế tài tương ứng với các vi phạm được quy định tại website này trong đó bao gồm xóa và chặn tài khoản, truy thu số tiền nhận được</p>
                                        <p> - Chính sách thanh toán và thông tin khác với Influencer được quy định cụ thể trên website ở phần hỏi đáp hoặc được gửi tới influencer khi đăng ký thành viên trên MicroKOLs</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs text-left">
                                <h1 class="txt-bold">3 - Với influencer</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p> - Influencer tham gia hệ thống sẽ nhận được các quyền lợi hợp pháp, đồng thời cần tuân thủ các quy định của MicroKOLs.</p>
                                        <p> - Influencer tham gia hệ thống cần cung cấp đầy đủ thông tin để xác minh bản thân, tài khoản nhằm phục vụ mục đích lựa chọn đối tượng và phân phối thông tin của chiến dịch cũng như thanh toán khi thực hiện thành công các chiến dịch.</p>
                                        <p> - Không thực hiện sai hoặc làm ảnh hưởng xấu tới chiến dịch, doanh nghiệp. Chịu mọi chế tài tương ứng với các vi phạm được quy định tại website này trong đó bao gồm xóa và chặn tài khoản, truy thu số tiền nhận được</p>
                                        <p> - Chính sách thanh toán và thông tin khác với Influencer được quy định cụ thể trên website ở phần hỏi đáp hoặc được gửi tới influencer khi đăng ký thành viên trên MicroKOLs</p>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--row 4-->
            <div class="row row-4 pl-70 pt-40 pb-50 bg_grey">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 pt-30">
                            <div class="policy-txt-box-01 hidden-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Hỏi đáp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Nếu bạn có bất kỳ câu hỏi, mối quan tâm, hoặc ý kiến gì về chính sách bảo mật của MicroKols, xin vui lòng liên hệ với MicroKols qua form Liên hệ với MicroKols.</p>
                                        <p>MicroKols giữ quyền thực hiện các thay đổi trong chính sách này. Tất cả thay đổi sẽ được phản ánh trên trang web này.</p>
                                        <p>THỜI GIAN ÁP DỤNG</p>
                                        <p>Chính sách này được áp dụng xuyên suốt thời gian trang web này hoạt động</p>
                                    </span>
                                </h4>
                            </div>
                            <div class="visible-xs" style="background-color: #f2f2f2">
                                <h1 class="txt-bold">Hỏi đáp</h1>
                                <h4 class="h5">
                                    <span class="txt-lineheight">
                                        <p>Nếu bạn có bất kỳ câu hỏi, mối quan tâm, hoặc ý kiến gì về chính sách bảo mật của MicroKols, xin vui lòng liên hệ với MicroKols qua form Liên hệ với MicroKols.</p>
                                        <p>MicroKols giữ quyền thực hiện các thay đổi trong chính sách này. Tất cả thay đổi sẽ được phản ánh trên trang web này.</p>
                                        <p>THỜI GIAN ÁP DỤNG</p>
                                        <p>Chính sách này được áp dụng xuyên suốt thời gian trang web này hoạt động</p>
                                    </span>
                                </h4>
                            </div>
                            <img src="/img/policy-img-04.png" class="img-responsive pull-right">
                        </div>
                    </div>

                </div>
            </div>

            <!--row 5-->
            <!--row 6-->
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>
        <div class="col-md-2 right-column hidden-xs">
            @Html.Partial("../Shared/_Partial/_FloatRight.cshtml")
        </div>
    </div>

</section>

