
@{
    ViewData["Title"] = "Chính sách & Quy định - Microkols | Nền tảng influencer marketing dẫn đầu Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="policy-intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Terms of Service</h1>
                    <h6 class="text-left h2 txt-lineheight-2">Chính sách và dịch vụ</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page">
    <div class="row">
        <div class="col-md-12 left-column">
            <!--row 1-->
            <div class="row row-1 pl-70 pt-40 pb-50">
                <div class="col-md-12">
                    <h1 class="pb-30" style="color:#2D9CDB;font-weight:900;">Terms of Service</h1>
                    <p class="mt-3">Chính sách về sản phẩm, dịch vụ của MiroKOLs được áp dụng theo những điều khoản cụ thể cho cả người dùng là influencer và người dùng là merchant (gọi chung là người dùng)</p>
                    <p class="mt-3">Bằng cách truy cập vào trang web microkols.com của chúng tôi và sử dụng dịch vụ của website, người dùng coi như đã đồng ý với chính sách của microkols.com và tuân thủ các điều khoản của chính sách này.</p>
                    <p class="mt-3">Những thay đổi sẽ được chúng tôi cập nhật và thông báo trước khi nó có hiệu lực tới người dùng sử dụng dịch vụ trên website microkols.com hoặc qua email cá nhân mà người dùng đã đăng ký.</p>
                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">1. Thông tin chung</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">1.1 Thuật ngữ</h3>
                    <p><strong>Nền tảng:</strong> Facebook là nền tảng duy nhất được sử dụng tại website này.</p>
                    <p><strong>Chiến dịch:</strong> là chiến dịch truyền thông được tạo ra bởi doanh nghiệp sử dụng dich vụ và do người dùng trực tiếp thực hiện.</p>
                    <p><strong>Merchant</strong>: chỉ doanh nghiệp sử dụng dịch vụ, cũng là người sẽ trả tiền cho các chiến dịch truyền thông được thực hiện thông qua trang web này.</p>
                    <p><strong>Influencer</strong>: chỉ người thực hiện dịch vụ mà merchant tạo ra, được merchant tuyển chọn. Influencer sẽ nhận được thanh toán khi chiến dịch được thực hiện thành công.</p>
                    <p><strong>Loại influencer:</strong> là dạng tài khoản mà người dùng lựa chọn dựa theo chuyên môn, nghề nghiệp, sở thích và tình trạng facebook của influencer. Một số loại influencer. cần phải được xét duyệt theo các tiêu chí của mỗi loại</p>
                    <p><strong>Hệ thống:</strong>website microkols chính là một hệ thống.</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">1.2 Đăng ký</h3>
                    <p><strong class="pb-10">Người dùng là influencer:</strong></p>
                    <p>Cần đăng ký thành viên qua App Facebook Micokols, khai báo thông tin của mình với Microkols, và lựa chọn cho mình một loại influencer phù hợp. Việc đăng ký loại influencer là không bắt buộc nhưng sẽ có sự kiểm duyệt mức độ phù hợp. Thông tin mà Influencer khai báo cần chính xác, trung thực để đảm bảo không xảy ra tranh chấp trước và sau khi thực hiện chiến dịch, bao gồm cả việc thanh toán và tài của chính influencer. App Microkols sẽ tự động thu thập email, điện thoại từ tài khoản Facebook.</p>
                    <p><strong class="pb-10">Người dùng là merchant:</strong></p>
                    <p>Cần kê khai thông tin của mình. Một số thông tin trong đó là bắt buộc, điều này giúp hệ thống có thể định danh thông tin doanh nghiệp, đặc biệt bảo vệ doanh nghiệp khi có các sự cố liên quan tới quyền sử dụng nội dung được tạo ra bởi chiến dịch.</p>

                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">2. Dịch vụ microkols.com cung cấp</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">2.1 Dịch vụ</h3>
                    <p>Dịch vụ được Microkols cung cấp là việc giúp influencer có thể triển khai các chiến dịch truyền thông do doanh nghiệp sử dụng dịch vụ (merchant) đưa ra. Các dịch vụ đảm bảo việc không vi phạm pháp luật của Việt Nam cũng như các quyền/chính sách theo quy định của Facebook. Hệ thông Microkols  có thể tự động hóa một số thao tác giúp việc tạo chiến dịch được thuận lợi và nhanh chóng.</p>
                    <p>Người dùng được lựa chọn theo tiêu chí của doanh nghiệp bao gồm cả nội dung mà người đó dự kiến tạo ra, yếu tố sáng tạo là một trong những yếu tố quan trọng giúp doanh nghiệp lựa chọn người dùng. Khi được lựa chọn, người dùng sẽ chia sẻ thông tin mình tạo ra lên trang cá nhân của mình</p>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">2.2 Tài khoản</h3>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">2.2.1 Tài khoản doanh nghiệp</h3>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">2.2.2 Tài khoản Influencer</h3>
                    <p>Tài khoản thường, tài khoản hotmom, tài khoản hotteen, tài khoản KOLs và tài khoản Reviewer. Các tài khoản được được xác minh tại thời điểm hoặc sau khi người dùng đăng ký. </p>

                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">3. Quyền và trách nhiệm của các bên</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.1 Với Merchant</h3>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.1.1 Quyền của Merchant</h3>
                    <p>- Được quyền đăng ký, khai báo hoặc không khai báo một số thông tin của mình</p>
                    <p>- Được sử dụng dịch vụ trên website microkols.com không giới hạn về chi phí tối đa cho mỗi chiến dịch</p>
                    <p>- Có quyền yêu cầu được hoàn lại tiền trong trường hợp dịch vụ không cung cấp đúng thỏa thuận</p>
                    <p>- Được cung cấp báo cáo (nếu cần) sau khi chiến dịch kết thúc</p>
                    <p>- Doanh nghiệp được quyền sử dụng thông tin/hình mà influencer tạo ra khi thực hiện chiến dịch của doanh nghiệp mình trong thời gian 03 tháng mà không mất thêm bất kỳ chi phí nào.</p>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.1.2 Trách nhiệm của Merchant</h3>
                    <p>- Cung cấp thông tin đúng sự thật, không vi phạm pháp luật.</p>
                    <p>- Sử dụng dịch vụ đúng quy định của website.</p>
                    <p>- Thanh toán chi phí khi sử dụng dịch vụ.</p>
                    <p>- Thực hiện dịch vụ trong vòng 10 ngày tính từ ngày thanh toán.</p>
                    <p>- Không được chia sẻ trách nhiệm với bất kỳ cá nhân, tập thể nào khác với sự cố do mình gây ra.</p>
                    <p>- Chịu mọi trách nhiệm trước pháp luật</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.2 Với Influencer</h3>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.2.1 Quyền</h3>
                    <p>- Được tiếp cận các chiến dịch truyền thông phù hợp với tài khoản và thông tin mình đăng ký.</p>
                    <p>- Được hưởng thu nhập từ mỗi chiến dịch.</p>
                    <p>- Được quyền khiếu nại khi có tranh chấp xảy ra liên quan tới việc thực hiện chiến dịch của website.</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">3.2.2 Trách nhiệm</h3>
                    <p>- Cung cấp đúng/đủ thông tin mà website yêu cầu, đảm bảo các thông tin khai báo là chính xác</p>
                    <p>- Thực hiện chiến dịch một cách nghiêm túc, đúng yêu cầu do doanh nghiệp đưa ra. Cam kết nội dung chia sẻ liên quan tới chiến dịch là đáng quan tâm, thu hút và đã được doanh nghiệp xác nhận.</p>
                    <p>- Không làm ảnh hưởng xấu tới hệ thống, chiến dịch của doanh nghiệp bằng bất kỳ hành vi sai trách nào</p>
                    <p>- Không được chia sẻ trách nhiệm với bất kỳ cá nhân, tập thể nào khác với sự cố do mình gây ra</p>
                    <p>- Chịu mọi trách nhiệm do bản thân gây ra và ảnh hưởng tới doanh nghiệp/website microkols.com trước pháp luật hoặc do website microkols.com quy định</p>
                    <p>- Influencer bật tính năng công khai cho mọi nội dung mà tạo ra khi thực hiện chiến dịch</p>


                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">4. Thay đổi, cam kết, hỗ trợ, bảo mật, sở hữu trí tuệ, trách nhiệm của các bên, giải quyết tranh chấp</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.1 Thay đổi</h3>
                    <p>Hệ thống có quyền thay đổi và cập nhật những thông tin về dịch vụ mà không cần thông báo trước cho mọi người dùng. Tuy nhiên, những thay đổi này sẽ được thông báo ngay khi được hệ thống đưa ra. Hệ thống đảm bảo những thay đổi này không vi phạm pháp luật và các quy định của facebook</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.2 Hỗ trợ</h3>
                    <p>Việc hỗ trợ được thực hiện theo chiến dịch thông qua điện thoại, messenger, email...như thông tin trong phần liên hệ của website và theo yêu cầu của người dùng. Với những thông tin khác, Microkols cam kết việc hỗ trợ không giới hạn về thời gian trừ trường hợp hệ thống đang bảo dưỡng hoặc gặp sự cố bất khả kháng</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.3 Cam kết</h3>
                    <p>Người dùng cam kết sử dụng hệ thống, dịch vụ của hệ thống với mục đích bất hợp pháp hoặc gây ảnh hưởng xấu. Cam kết tuân thủ mọi hướng dẫn sử dụng, cách thức thực hiện chiến dịch cũng như các điều khoản khác.</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.4 Bảo mật</h3>
                    <p>Tất cả các bên, bao gồm cả hệ thống có trách nhiệm bảo mật và tự bảo mật thông tin không công khai của mình hoặc của mỗi người dùng mà mình nhận được - trừ các thông tin phục vụ cho việc thực hiện chiến dịch và phân phối chúng tới influcencer (nội bộ). Mọi hành động không đúng sẽ phải chịu trách nhiệm trước pháp luật hoặc quy định của website.</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.5 Sở hữu trí tuệ</h3>
                    <p>Tất cả các thông tin được cung cấp trong hệ thống, bao gồm hình ảnh, con số, chữ viết được thuộc quyền sở hữu của người tạo ra nó. Hệ thống và những người liên chỉ được sử dụng trong phạm vi của chiến dịch nhưng không bao gồm các hoạt động thương mại. Doanh nghiệp có thể sử dụng thông tin do influencer đăng công khai lên facebook cá nhân để thực hiện chiến dịch trong thời gian 03 tháng</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.6 Trách nhiệm của các bên</h3>
                    <p>Tất cả các bên tham gia vào hệ thống cam kết tự chịu trách nhiệm với những vấn đề do mình tạo ra. Hệ thống cam kết giải quyết các vấn đề do lỗi của hệ thống nhưng phát sinh không phải do bên thứ ba gây ra.</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">4.8 Giải quyết tranh chấp</h3>
                    <p>Mọi tranh chấp xảy ra nếu không được hòa giải sẽ được giải quyết theo luật pháp quốc tế, bên thua kiện sẽ chịu mọi chi phí.</p>

                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">5. Thời hạn sử dụng dịch vụ và chấm dứt hợp tác</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">5.1 Thời hạn sử dụng hệ thống</h3>
                    <p>Hệ thống không quy định thời hạn sử dụng dịch vụ điều này đồng nghĩa với việc hệ thống cung cấp dịch vụ suốt thời gian tồn tại của mình, trừ trường hợp gián đoạn do sự cố ngoài ý muốn. Trường hợp người dùng sử dụng hệ thống sai mục đích có thể bị tạm dừng hoặc xóa tài khoản và ngừng cung cấp dịch vụ, hệ thống sẽ thông báo việc này qua email cho chủ mỗi tài khoản</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">5.2 Chấm dứt hợp tác</h3>
                    <p>Người dùng sử dụng sai mục đích hoặc làm ảnh hưởng xấu tới hệ thống có thể bị xóa tài khoản và chấm dứt hợp tác mà không cần báo trước. Một số trường hợp gây hậu quả nghiêm trọng, thiệt hại về tài chính có thể bị phong tỏa số tiền trong tài khoản để phục vụ việc đánh giá mức độ thiệt hại cũng như giải quyết tranh chấp giữa các bên. Thời gian giải quyết tranh chấp theo thỏa thuận của các bên hoặc quy định của pháp luật</p>


                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">6. Thanh toán, Phí và thuế</h2>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">6.1 Thanh toán</h3>
                    <p>- Doanh nghiệp có trách nhiệm thanh toán chi phí mỗi chiến dịch sau khi doanh nghiệp duyệt người dùng và trước khi họ thực hiện chiến dịch, mức phí được thông báo cụ thể tại phần thông tin chiến dịch</p>
                    <p>- Influencer: Influencer sẽ được nhận thanh toán trong khoảng ngày 10 - 15 hàng tháng cho phần chiến dịch đã được ghi nhận là thực hiện thành công của tháng trước đó.</p>


                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">6.2 Phí dịch vụ</h3>
                    <p>Là khoản chi phí mà doanh nghiệp phải trả khi sử dụng dịch vụ của hệ thống, mức phí thường là 20% chi phí doanh nghiệp phải trả cho influencer, một số trường hợp khác hệ thống sẽ thông báo khi doanh nghiệp tạo chiến dịch</p>

                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">6.3 Thuế</h3>
                    <p>- Thuế giá trị gia tăng (VAT) là phần thuế mà doanh nghiệp phải trả khi sử dụng dịch vụ, hệ thống có trách nhiệm thu hộ khoản phí này theo quy định của pháp luật Việt Nam. Mức thuế suất là 10%. </p>
                    <p>- Thuế Thu nhập cá nhân: Là phần thuế mà influencer phải trả khi nhận được thu nhập từ việc thực hiện chiến dịch mà doanh nghiệp tạo ra trong hệ thống. Biểu thuế áp dụng theo quy định của pháp luật Việt Nam, hệ thống có trách nhiệm thu hộ nhà nước (khấu trừ trực tiếp), influencer sẽ được thông báo trong khoảng ngày 01 - 10 hàng tháng về mức thuế suất trước khi hệ thống thanh toán</p>


                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">7. Chính sách về dữ liệu</h2>
                    <p>Chính sách này mô tả các thông tin mà chúng tôi đã sử dụng kết nối với các API của Facebook để hỗ trợ sản phẩm của chúng tôi cũng như sự tiện lợi sẽ mang tới cho các người dùng.</p>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">7.1 Chúng tôi thu thập các thông tin nào?</h3>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">7.1.1 Thông tin và nội dung bạn cung cấp</h3>
                    <p>Microkols thu thập nội dung bài viết, nội dung bạn chia sẻ lên tường Facebook của bạn, danh sách bạn bè có tham gia hệ thống Microkols. Các thông tin này bao gồm về các chủ đề thuộc chiến dịch yêu cầu bạn thực hiện và chia sẻ. Hệ thống sẽ tự động xử lý nội dung, đánh giá và kiểm tra xem nội dung có phù hợp với chiến dịch đề ra hay không. </p>
                    <h3 class="pb-10" style="color:#2D9CDB;font-weight:900;font-style:italic;">7.2 Chúng tôi sử dụng thông tin này như thế nào?</h3>
                    <p>Chúng tôi sử dụng thông tin này để nâng cao tính trải nghiệm của người dùng đối với những bài nội dung sáng tạo được các Influencers chia sẻ lên tường Facebook. Cũng như sẽ đánh giá chất lượng nội dung được Influencers chia sẻ.</p>
                    <p>Chúng tôi không tiết lộ hay bán dữ liệu cá nhân của bạn cho các bên khác và cũng không chia sẻ nhận diện cá nhân trực tiếp nhận dạng bạn (Tên, Email, Số điện thoại), trừ khi được sự cho phép của bạn.</p>


                    <h2 class="pb-10" style="color:#2D9CDB;font-weight:900;">8. Liên hệ</h2>
                    <p>Nếu có bất cứ thắc mắc nào khác, xin vui lòng liên hệ với hệ thống theo thông tin:</p>
                    <p>+ Email: contact@microkols.com</p>
                    <p>+ Số điện thoại: 0975119599</p>
                    <p>+ Địa chỉ: Tầng 3 tòa nhà Housing, số 299 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội, Việt Nam</p>

                </div>
            </div>
           

           
            <!--row 7-->
            @Html.Partial("_Partial/Footer.cshtml")
        </div>   
    </div>

</section>

