<div class="icon-facebook-float">
    <img src="~/img/icon-float-facebook.png" />
</div>
@*<div class="right-column-img-1">
    <img src="~/img/right-column-img-1.png" />
</div>*@
<div class="right-column-img-2">
    <img src="~/img/right-column-img-2.png" />
</div>