
@model UserRoleViewModel

@{
    ViewData["Title"] = "Tạo mới người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roles = (IEnumerable<IdentityRole>)ViewData["Roles"];
}



<h2>Tạo mới người dùng</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="UserName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type="Email" })
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class= "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Vai trò</label>
                <div class="col-md-10">
                    @foreach (var role in roles)
                    {
                        <label>
                            <input type="checkbox" name="Roles[]" value="@role.Name"
                                   @if (Model?.Roles != null && Model.Roles.Contains(role.Name)) { <text> checked="checked" </text> } />
                            &nbsp;@role.Name&nbsp;&nbsp;
                        </label>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-primary" value="Thay đổi" style="font-family:roboto;" />
                </div>
            </div>
        </form>
    </div>
</div>

