<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Doanh nghiệp
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        Doanh nghiệp
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Agency" asp-action="Index">
                    <a href="/agency" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            QL.Doanh nghiệp
                        </span>
                    </a>
                </secure-content>
            </li>            
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Chiến dịch
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        Chiến dịch
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Campaign" asp-action="Index">

                    <a href="/campaign" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            QL.Chiến dịch
                            <span class="m-badge m-badge--danger" id="campaign-count-menu">

                            </span>
                        </span>

                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="ServiceCharge">
                    <a href="/transaction/servicecharge" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Phí dịch vụ
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="AccountCharge">
                    <a href="/transaction/accountcharge" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Phí trả Influencer
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="CampaignServiceCashBack">
                    <a href="/transaction/campaignservicecashback" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Rút tiền thừa
                            <span class="m-badge m-badge--danger" id="campaign-service-cashback">

                            </span>
                        </span>
                    </a>
                </secure-content>
            </li>
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Người ảnh hưởng
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        Người ảnh hưởng
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="MicroKol" asp-action="Index">
                    <a href="/microkol" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Người ảnh hưởng
                            <span class="m-badge m-badge--danger" id="account-count-menu">

                            </span>
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="MicroKol" asp-action="CampaignMicrokol">
                    <a href="/microkol/campaignmicrokol" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Chiến dịch tham gia
                        </span>
                    </a>
                </secure-content>
            </li>

            
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Wallet
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        Ví
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Wallet" asp-action="WalletAgency">
                    <a href="/wallet/walletagency" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Ví Doanh nghiệp
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Wallet" asp-action="WalletInfluencer">
                    <a href="/wallet/walletinfluencer" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Ví Người ảnh hưởng
                        </span>
                    </a>
                </secure-content>
            </li>
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Giao dịch
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        Giao dịch
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="WalletRecharge">
                    <a href="/transaction/walletrecharge" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Nạp ví
                            <span class="m-badge m-badge--danger" id="walletdeposit-count-menu">

                            </span>
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="WalletWithdraw">
                    <a href="/transaction/walletwithdraw" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            D/N rút tiền
                            <span class="m-badge m-badge--danger" id="walletwitdraw-count-menu">

                            </span>
                        </span>
                    </a>
                </secure-content>
            </li>
            @*<li class="m-menu__item " aria-haspopup="true">
            <a href="/transaction/servicecharge" class="m-menu__link ">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                    <span></span>
                </i>
                <span class="m-menu__link-text">
                    Service Charge
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true">
            <a href="/transaction/accountcharge" class="m-menu__link ">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                    <span></span>
                </i>
                <span class="m-menu__link-text">
                    Account Charge
                </span>
            </a>
        </li>*@
      
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Transaction" asp-action="PayoutExport">
                    <a href="/transaction/payoutexport?type=Regular" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Tất toán Influencer
                        </span>
                    </a>
                </secure-content>
            </li>            
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            Systems
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        System
                    </span>
                </span>
            </li>            
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="CampaignTypeCharge" asp-action="Index">
                    <a href="/campaigntypecharge" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Campaign Type
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="Category" asp-action="Index">
                    <a href="/category" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Lĩnh vực
                        </span>
                    </a>
                </secure-content>
            </li>        
        </ul>
    </div>
</li>
<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
    <a href="javascript:;" class="m-menu__link m-menu__toggle">
        <i class="m-menu__link-icon flaticon-layers"></i>
        <span class="m-menu__link-text">
            LandingPage
        </span>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu " m-hidden-height="840" style="">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                <span class="m-menu__link">
                    <span class="m-menu__link-text">
                        LandingPage
                    </span>
                </span>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="LandingPage" asp-action="QnA">
                    <a href="/landingpage/qna" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            QnA
                        </span>
                    </a>
                </secure-content>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <secure-content asp-area="" asp-controller="LandingPage" asp-action="VideoGallery">
                    <a href="/landingpage/videogallery" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                        </i>
                        <span class="m-menu__link-text">
                            Video Gallery
                        </span>
                    </a>
                </secure-content>
            </li>
        </ul>
    </div>
</li>
<secure-content asp-area="Access" asp-controller="Role" asp-action="Index">
    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-layers"></i>
            <span class="m-menu__link-text">
                Vai trò hệ thống
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu " m-hidden-height="840" style="">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                    <span class="m-menu__link">
                        <span class="m-menu__link-text">
                            Vai trò hệ thống
                        </span>
                    </span>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <secure-content asp-area="Access" asp-controller="Role" asp-action="Index">
                        <a href="/access/role" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
                                Danh sách vai trò
                            </span>
                        </a>
                    </secure-content>
                </li>
            </ul>
        </div>
    </li>
</secure-content>
<secure-content asp-area="Access" asp-controller="UserRole" asp-action="Index">
    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-layers"></i>
            <span class="m-menu__link-text">
                Người dùng hệ thống
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu " m-hidden-height="840" style="">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                    <span class="m-menu__link">
                        <span class="m-menu__link-text">
                            Người dùng hệ thống
                        </span>
                    </span>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <secure-content asp-area="Access" asp-controller="UserRole" asp-action="Index">
                        <a href="/access/userrole" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
                                Danh sách người dùng
                            </span>
                        </a>
                    </secure-content>
                </li>
            </ul>
        </div>
    </li>
</secure-content>
<secure-content asp-area="" asp-controller="BankAccountSystem" asp-action="Index">
    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-layers"></i>
            <span class="m-menu__link-text">
                T/Khoản n/hàng hệ thống
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu " m-hidden-height="840" style="">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                    <span class="m-menu__link">
                        <span class="m-menu__link-text">
                            T/Khoản N/hàng hệ thống
                        </span>
                    </span>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <secure-content asp-area="" asp-controller="BankAccountSystem" asp-action="Index">
                        <a href="/bankaccountsystem" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
                                Danh sách tài khoản
                            </span>
                        </a>
                    </secure-content>
                </li>
                <li class="m-menu__item " aria-haspopup="true">
                    <secure-content asp-area="" asp-controller="BankAccountSystem" asp-action="Create">
                        <a href="/bankaccountsystem/create" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
                                Thêm T/khoản N/hàng
                            </span>
                        </a>
                    </secure-content>
                </li>
            </ul>
        </div>
    </li>
</secure-content>