<section class="homeslider">

    <div class="container">
        <div class="wrap">
            <div class="mb-5 text-center text-white">
                <h2>
                    Nền tảng <span>Micro KOLs</span>
                    <br> tối ưu tại  Việt Nam
                </h2>
                <p class="">
                    Xây dựng thương hiệu hoặc kiếm thêm thu nhập từ cộng đồng mà bạn đang sở hữu
                </p>
            </div>
            <div class="row">
                <div class="col-5 offset-1 text-center">
                    <div class="card card-body card-agency">
                        <h3>Thương hiệu</h3>
                        <p>Kết nối cộng đồng, lan tỏa thương hiệu</p>
                        <a href="" class="btn btn-lg btn-outline-info">Tham gia ngay</a>
                    </div>
                </div>
                <div class="col-5  text-center">
                    <div class="card card-body card-account">
                        <h3>Người ảnh hưởng</h3>
                        <p>Kiếm thêm thu nhập từ cộng đồng bạn sở hữu</p>
                        <a href="" class="btn btn-lg btn-outline-warning">Tham gia ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>