<section class="homesliderkols">
    <div class="container">
        <div class="influencers owl-carousel owl-theme">
            @for (var i = 1; i < 9; i++)
            {

                <div>
                    <img src="~/img/kols/@(i).jpg" />
                </div>
            }

        </div>
    </div>
</section>
