<section class="homecounting border-top py-5">
    <div class="container">
        <div class="section-title text-center mb-4">
            <h2>Mạng lưới Người ảnh hưởng rộng lớn &amp; đa dạng</h2>
            <span class="separator2"></span>
        </div>
        <div class="row slt">
            <div class="col-md-6 col-xs-12 mt-3">
                <div class="d-flex">
                    <i class="fal fa-star"></i>

                    <h3>Cộng đồng<span> dẫn đầu</span> <br /> mạng xã hội</h3>

                </div>

                <p>Mạng lưới Người ảnh hưởng rộng lớn bao phủ khắp các lĩnh vực từ thời trang, giáo dục, làm đẹp, giải trí, thể thao... hàng đầu Việt Nam.</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row  text-center">
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics red count-box">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='2500' data-delay='10' data-increment="18">0</span><span>+</span>

                            </div>
                        </div>
                        <p>Tin tức - Giải trí</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics violet">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='6000' data-delay='10' data-increment="30">0</span><span>+</span>
                            </div>
                        </div>
                        <p>Người ảnh hưởng</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics green">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='200' data-delay='5' data-increment="4">0</span><span>+</span>

                            </div>
                        </div>
                        <p>Nhân vật hư cấu</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 mt-3">
                <div class="d-flex">
                    <i class="fal fa-brain"></i>

                    <h3><span>100K+</span> Nội dung sáng tạo  <br /> được tạo ra mỗi ngày</h3>

                </div>

                <p>Sở hữu khoảng 20 triệu fan, mỗi nội dung sáng tạo có thể tiếp cận tới 50 triệu người với 3 triệu tương tác liên tục</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row  text-center">
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics blue">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='200' data-delay='5' data-increment="9">0</span><span>M+</span>

                            </div>
                        </div>
                        <p>Lượt hâm mộ</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics yellow">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='75' data-delay='3' data-increment="5">0</span><span>M+</span>

                            </div>
                        </div>
                        <p>Tiếp cận</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="ics teal">
                            <div class="ics-wrap">
                                <span class='numscroller numscroller-big-bottom fl' data-slno='1' data-min='0' data-max='30' data-delay='5' data-increment="10">0</span><span>M+</span>

                            </div>
                        </div>
                        <p>Tương tác</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
