<section class="homepresent py-5">

    <div class="container">
        <div class="section-title text-center">
            <p>
                "Nền tảng kết nối thương hiệu, doanh nghiệp với các nhóm khách hàng
                <br> thông qua mạng xã hội bởi các nội dung sáng tạo.”
            </p>
           
        </div>
        <div class="row">

            <hr class="col-4 offset-4" />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="text-center">
                    <div class="img-holder">
                        <img src="~/img/home/icon-3.png" />
                    </div>
                    <div class="content">
                        <p>
                            Sử dụng nội dung sáng tạo để
                            <br> <span> Kích thích tương tác </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="text-center">
                    <div class="img-holder">
                        <img src="~/img/home/icon-2.png" />
                    </div>
                    <div class="content">
                        <p>
                            Sử dụng nội dung sáng tạo để
                            <br> <span>Quảng bá sản phẩm </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="text-center">
                    <div class="img-holder">
                        <img src="~/img/home/icon-1.png" />
                    </div>
                    <div class="content">
                        <p>
                            Sử dụng nội dung sáng tạo để
                            <br> <span>Kiếm tiền từ cộng đồng </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
