
@{
    ViewData["Title"] = "AccessDenied";
}


    <div class="alert alert-danger mt-4">

        Bạn cần đồng ý với các quyền do facebook đưa ra. Xin vui lòng thử lại <a class="text-primary" asp-action="LoginFb" asp-controller="Auth">[Đăng nhập với Facebook] </a> 

    </div>