@{
    ViewData["Title"] = "Giới thiệu về hệ thống MicroKOLs";
}


@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Nội dung</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}

<div class="row my-3">

    <div class="col-md-6">

        <div class="text-justify">
            <p>

                MicroKOLs là nền tảng marketing trực tuyến giúp cho những KOLs, những người có sức ảnh hưởng có thể kết nối với các nhãn hàng, thương hiệu trong các chiến dịch truyền thông

            </p>
            <p>
                Theo đó, người ảnh hưởng (KOLs, Hotfacebookers, và các tài khoản facebook chính thống) có thể sử dụng tài khoản facebook cá nhân của mình để truyền tải thông điệp của doanh nghiệp tới những người khác

            </p>
            <p>
                Hệ thống chỉ sử dụng những thông tin được chính người dùng công khai, khai báo trên hệ thống và được chính tài khoản đó xác nhận khi thực hiện các chiến dịch truyền thông

            </p>
        </div>

    </div>
    <div class="col-md-5 offset-1 text-center">
        <img src="~/img/auth/login-bg.jpg" class="img-fluid" />

    </div>

</div>
