@{
    ViewData["Title"] = "Giới thiệu về hệ thống MicroKOLs";
}


@section Top{

    <div class="pagetitle">
        <div class="container d-flex">
            <div class="mr-auto">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a asp-action="Index">Nội dung</a></li>

                </ol>

                <h1>@ViewData["Title"]</h1>

            </div>


        </div>
    </div>
}


<div class="my-3">


    <h2>I - Giới thiệu về hệ thống MicroKOLs</h2>

    <p>
        MicroKOLs là nền tảng marketing trực tuyến giúp cho những KOLs, những người có sức ảnh hưởng có thể kết nối với các nhãn hàng, thương hiệu trong các chiến dịch truyền thông
    </p>
    <p>
        Theo đó, người ảnh hưởng (KOLs, Hot facebookers, và các tài khoản facebook chính thống) có thể sử dụng tài khoản facebook cá nhân của mình để truyền tải thông điệp của doanh nghiệp tới những người khác
    </p>
    <p>
        Hệ thống chỉ sử dụng những thông tin được chính người dùng công khai, khai báo trên hệ thống và được chính tài khoản đó xác nhận khi thực hiện các chiến dịch truyền thông
    </p>
    <h2>II - Hướng dẫn sử dụng</h2>
    <div class="h4"> 1. Người dùng: </div>

    <p>
        Để sử dụng, người dùng phải có tài khoản facebook cá nhân và đăng ký là thành viên, sau khi đăng ký thành viên người dùng cần khai báo các thông tin cá nhân của mình, bật chế độ công khai. Hệ thống sẽ dựa vào thông tin mà bạn cung cấp để giới thiệu cho doanh nghiệp mỗi khi có các chiến dịch phù hợp. Một yêu cầu khác đối với người dùng để có thể sử dụng dịch vụ của hệ thống là facebook cá nhân của họ phải có tối thiểu 1000 friends. Các bước thực hiện như sau
    </p>
    <ul>
        <li>1.1 - Người dùng đăng ký tài khoản bằng cách click vào thông tin đăng ký trên website, đồng thời liên kết tài khoản của mình với tài khoản facebook</li>
        <li>
            1.2 - Khai báo các thông tin cá nhân tại “cấu hình”. Việc khai báo thông tin cá nhân sẽ giúp hệ thống phân loại người dùng. Đồng thời tiếp nhận các chiến dịch truyền thông phù hợp với các yêu cầu của doanh nghiệp. Người dùng sẽ không thể sử dụng dịch vụ và duy trì tài khoản nếu cố tình không khai báo hoặc khai báo sai thông tin của mình, việc khai báo đúng thông tin cá nhân là hoàn toàn bắt buộc. Nội dung khai báo được thể hiện ở các tab trong phần “cấu hình”, gồm có:
            <br />
            + Thông tin cá nhân: tên tuổi, nơi sống
            <br />
            + Thông tin căn cước: Thông tin này sẽ liên quan tới việc xác minh người dùng và bảo vệ bạn khi có sự cố về tài khoản, thu nhập
            <br />
            + Tài khoản ngân hàng: Bạn cần nhập đúng/đủ thông tin tài khoản ngân hàng mà mình đang sử dụng để có thể nhận được tiền khi thực hiện chiến dịch. Bạn sẽ không thể thay đổi thông tin này trong thời gian hệ thống thống kê để thanh toán cho bạn (từ 01-10 hàng tháng)
            <br />
            + Thông tin liên lạc, là căn cứ để chúng tôi liên hệ với bạn khi cần
            <br />
            + Thay đổi mật khẩu: Bạn có thể tạo mới/sửa đổi mật khẩu của bạn tại đây
            <br />
            + Đăng ký KOLs: Bạn hãy cho hệ thống biết mình thuộc tài khoản nào trong hệ thống và mình là ai trong thế giới của facebook:
            <br />
            *** Tài khoản thường (chuẩn): là tài khoản có trên 1000friends và được khởi tạo tối thiểu 03 năm tính từ ngày đăng ký, tất nhiên đây phải là tài khoản thật của bạn, nếu bạn sử dụng tài khoản phụ và bị hệ thống phát hiện thì bạn sẽ không thể tiếp tục tham gia hệ thống của chúng tôi. Mức thù lao cho tài khoản thường sẽ do hệ thống quy định
            <br />
            *** Tài khoản Hot facebookers: Nếu bạn là người có sức ảnh hưởng nhất định trên facebook, bạn có thể đăng ký để cho mình là tài khoản này. Điều kiện là bạn phải có trên 20.000 người theo dõi và ở độ tuổi từ 24 trở lên. Tất nhiên những tài khoản hot facebookers sẽ có thể tự đưa ra mức thù lao phù hợp với bản thân mình. Bạn sẽ nhận được những chiến dịch phù hợp với thông tin mình cung cấp, trong đó có thù lao. Vậy nên hãy cân nhắc mức thù lao tối thiểu mình mong muốn nhận được
            <br />
            *** Tài khoản Hot teen: Bạn có trên 10.000 người theo dõi có độ tuổi từ 18-23 mới có thể đăng ký là một hotteen trên hệ thống của chúng tôi. Khi đó bạn cũng có thể tự quyết định mức thu nhập tối thiểu mà mình mong muốn nhận được khi thực hiện các chiến dịch trên hệ thống
            <br />
            *** Tài khoản Hot moms: Nếu bạn là một bà mẹ bỉm sữa, có trên 10.000 người theo dõi tài khoản facebook của mình, hãy đăng ký trở thành Hot moms trên hệ thống. Bạn sẽ tự quyết định được mức thu nhập tối thiểu mình có thể nhận được
            <br />
            *** Tài khoản KOLs: Bạn làm việc trong lĩnh vực nghệ thuật, giải trí, diễn giả hoặc nhân vật nổi tiếng... và tài khoản facebook của mình có trên 150.000 người theo dõi. Những tài khoản KOLs sẽ tự đưa ra mức thu nhập của mình cho mỗi chiến dịch và nhận được thanh toán phí sớm hơn các tài khoản khác.

        </li>
        <li>
            1.3 Xác nhận và thực hiện chiến dịch
            <br />
            + Sau khi đăng ký thành công tài khoản của mình, người dùng có thể nhận được các thông báo về chiến dịch mới có trên hệ thống, bạn cần xác nhận sẽ thực hiện chiến dịch đó và báo cáo lại hệ thống sau khi chiến dịch được thực hiện xong xuôi, chiến dịch kết thúc cũng là lúc bạn nhận được khoản thanh toán của mình, hãy theo dõi biến động số dư ở phần tài khoản.
            <br />
            <br />
            + Mỗi chiến dịch sẽ có những yêu cầu khác nhau, hãy thực hiện đúng và đủ những yêu cầu của chiến dịch về nội dung - thời điểm, hình thức để có thể nhận được thanh toán. Việc thực hiện sai hoặc cố tình thực hiện sai những yêu cầu của chiến dịch có thể ảnh hưởng tới tài khoản của bạn trên hệ thống: bị xóa, không được tính doanh thu hoặc bị trừ tiền
            <br />
            + Sau khi thực hiện xong chiến dịch bạn cần chụp lại hình ảnh nghiệm thu công việc mình đã thực hiện, đây là bước cuối cùng để hoàn thành công việc của mình
            <br />
            + Các Tab chiến dịch sẽ cho người dùng biết thông tin các chiến dịch:
            <br />
            *** Chiến dịch mới: Hiển thị các chiến dịch mới có phù họp với người dùng, hãy lưu ý việc xác nhận thực hiện chiến dịch thật nhanh, thông tin/thông báo của một số chiến dịch sẽ biến mất khi đủ số lượng người đăng ký tham gia. Hãy cân nhắc thời điểm/thời gian thực hiện chiến dịch để xem mình có thể thực hiện được hay không.
            <br />
            *** Chiến dịch đang thực hiện: Là những chiến dịch mà bạn đã xác nhận thực hiện nhưng chưa tới thời điểm thực hiện, hãy thực hiện đúng thời điểm mà chiến dịch yêu cầu
            <br />
            *** Chiến dịch đã thực hiện: Những chiến dịch bạn đã thực hiện sẽ được hiển thị ở tab này
            <br />
            *** Chiến dịch bị hủy: Là chiến dịch mà bạn chủ động hủy hoặc doanh nghiệp hủy, nếu bạn tự hủy chiến dịch với những lý do không chính đáng và làm ảnh hưởng tới doanh nghiệp, bạn sẽ phải chịu những chế tài của hệ thống

        </li>

    </ul>

    <div class="h4">2. Doanh nghiệp:  </div>
    <p>
        Doanh nghiệp là người trả tiền cho các chiến dịch truyền thông khi sử dụng dịch vụ của hệ thống, doanh nghiệp có thể là hộ kinh doanh hoặc một pháp nhân. Để có thể khấu trừ thuế, doanh nghiệp buộc phải nhập chính xác thông tin của mình bao gồm mã số thuế - địa chỉ đăng ký kinh doanh....
    </p>
    <p>
        Sau khi đăng ký thông tin, doanh nghiệp có thể thực hiện chiến dịch của mình. Doanh nghiệp sẽ biết trước số tiền mình phải trả cho mỗi chiến dịch, có thể điều chỉnh các yếu tố trong chiến dịch để thay đổi số cần thanh toán và phải thanh toán trước khi người dùng thực hiện chiến dịch. Người dùng chỉ thực hiện chiến dịch mới sau khi doanh nghiệp đã hoàn tất phần thanh toán.
    </p>
    <ul>
        <li>
            *** Các bước doanh nghiệp cần thực hiện gồm có:
            <br />
            + Đăng ký và khai báo thông tin của doanh nghiệp
            <br />
            + Tạo chiến dịch mới theo nhu cầu mình và gợi ý của hệ thống
            <br />
            + Lựa chọn loại chiến dịch, đối tượng người dùng kèm theo các tiêu chí của người dùng phù hợp với nhu cầu của doanh nghiệp. Lưu ý, trong năm 2019 mỗi tiêu chí với người dùng được chọn doanh nghiệp sẽ không bị tính thêm chi phí trên đơn giá mỗi dịch vụ của người dùng
            <br />
            + Thanh toán cho chiến dịch trước khi người dùng thực hiện
            <br />
            + Nhận thông báo, báo cáo khi chiến dịch kết thúc
            <br />
            + Kiểm tra thông tin, đánh giá người dùng nếu cần. Hệ thống sẽ cung cấp chức năng đánh giá người dùng, kiểm tra thông tin việc thực hiện chiến dịch của mỗi người dùng

        </li>
        <li>
            *** Các chiến dịch doanh nghiệp có thể thực hiện trên hệ thống
            <br />
            + Chia sẻ một thông điệp có sẵn được đăng tải trên website/fanpage của doanh nghiệp đề nghị người dùng có hoặc không việc viết thêm caption cho chiến dịch đó.
            <br />
            + Đề nghị người dùng thay hình avatar theo yêu cầu của doanh nghiệp trong một khoảng thời gian nhất định
            <br />
            + Đề nghị người dùng chia sẻ livestream một chương trình của doanh nghiệp
            <br />
            + Đăng ký tham dự sự kiện của doanh nghiệp
        </li>
        <li>
            *** Yêu cầu khác
            <br />
            + Doanh nghiệp cần đảm bảo thông tin được cung cấp trong mỗi chiến dịch thuộc sở hữu của mình, không làm trái hoặc vi phạm pháp luật về luật quảng cáo hoặc sở hữu trí tuệ
            <br />
            + Tất cả các chiến dịch sẽ cần được hệ thống phê duyệt trước khi thực hiện
            <br />
            + Tất cả các sản phẩm/dịch vụ có điều kiện cần có giấy tờ pháp lý theo quy định của cơ quan nhà nước
            <br />
            + Số tiền doanh nghiệp đã chi vượt quá số tiền thực hiện trên hệ thống doanh nghiệp có thể yêu cầu hoàn lại hoặc dùng để thanh toán cho những lần sau

        </li>
    </ul>

  
  

</div>


<div class="row my-3">

    <div class="col-md-6">

        <div class="text-justify">
            <p>

                MicroKOLs là nền tảng marketing trực tuyến giúp cho những KOLs, những người có sức ảnh hưởng có thể kết nối với các nhãn hàng, thương hiệu trong các chiến dịch truyền thông

            </p>
            <p>
                Theo đó, người ảnh hưởng (KOLs, Hotfacebookers, và các tài khoản facebook chính thống) có thể sử dụng tài khoản facebook cá nhân của mình để truyền tải thông điệp của doanh nghiệp tới những người khác

            </p>
            <p>
                Hệ thống chỉ sử dụng những thông tin được chính người dùng công khai, khai báo trên hệ thống và được chính tài khoản đó xác nhận khi thực hiện các chiến dịch truyền thông

            </p>
        </div>

    </div>
    <div class="col-md-5 offset-1 text-center">
        <img src="~/img/auth/login-bg.jpg" class="img-fluid" />

    </div>

</div>


