
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_LayoutAuth";

}
@section Scripts{
    <script>
        $(document).ready(function () {
            // initalize tooltips
            $('[data-toggle="tooltip"]').tooltip();
            // initalize popovers
            $('[data-toggle="popover"]').popover();
        });
    </script>
}

<div class="row">
    <div class="col-md-5 mt-5">
        <br>
        <br>
        <br>
        <br>
        <h1>Đăng nhập</h1>
        <p>
            Tham gia Microkols với tư cách là người có ảnh hưởng với tài khoản Facebook cá nhân của bạn.
            Chúng tôi sẽ nhận được trang cá nhân và địa chỉ email
        </p>
        <div>
            <a asp-action="LoginFb" class="btn btn-primary btn-lg"><i class="fab fa-facebook"></i> Đăng nhập với Facebook</a>
        </div>
    </div>
    <div class="col-md-7">
        <img src="/img/img-signin.png" class="mb-5 mt-3 img-thumbnail" width="480">
    </div>
</div>