
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AccountViewModel

@section Subheaders{
    <h3 class="m-subheader__title m-subheader__title--separator">
        Danh sách người ảnh hưởng
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a href="/microkol" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>
        <li class="m-nav__item">
            <a href="/microkol" class="m-nav__link">
                <span class="m-nav__link-text">
                    Danh sách người ảnh hưởng
                </span>
            </a>
        </li>
        @if (Model != null && Model.Id > 0)
        {
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="/microkol/detail?id=@(Model.Id)" class="m-nav__link">
                    <span class="m-nav__link-text">
                        @Model.Name
                    </span>
                </a>
            </li>
        }
    </ul>
}

@section HorizontalMenu{
    @*<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown m-menu__item--hover" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-add"></i>
                <span class="m-menu__link-text">
                    Menu
                </span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 73px;"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="/microkol/changepassword?id=@(Model.Id)" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Thay đổi mật khẩu
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="/microkol/changetype?id=@(Model.Id)" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Cấu hình loại người ảnh hưởng
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="/microkol/campaigncharge?id=@Model.Id" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Cấu hình giá chiến dịch người ảnh hưởng
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>*@
}




<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Thông tin @(Model != null ? string.Format("\"{0}\"", Model.Name) : "")
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit" action="/microkol/detail" method="post">
                <input type="hidden" asp-for="Id">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                1. Thông tin chung:
                            </h3>
                        </div>
                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">
                                Tên đầy đủ:
                            </label>
                            <input class="form-control m-input" placeholder="Hãy nhập tên đầy đủ" asp-for="Name">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Địa chỉ Email:
                            </label>
                            <input class="form-control m-input" placeholder="Nhập địa chỉ Email" asp-for="Email">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Địa chỉ:
                            </label>
                            <input class="form-control m-input" placeholder="Địa chỉ" asp-for="Address">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Số điện thoại:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input class="form-control m-input" placeholder="Số điện thoại" asp-for="Phone">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-bell"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Giới tính:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <span>@Model.Gender.ToDisplayName()</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Ngày sinh:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <span>@(Model.Birthday.HasValue == true?Model.Birthday.Value.ToShortDateString():"Chưa rõ")</span>
                            </div>
                        </div>
                        <div class="m-form__group form-group">
                            <label for="">
                                Trạng thái:
                            </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" asp-for="Actived">
                                    Kích hoạt
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" asp-for="Deleted">
                                    Hủy bỏ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                    <div class="m-form__section m-form__section--last">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                2. Chứng minh thư:
                            </h3>
                        </div>
                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">
                                Tên:
                            </label>
                            <input class="form-control m-input" placeholder="Tên" asp-for="IDCardName">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Số chứng minh thư:
                            </label>
                            <input class="form-control m-input" placeholder="Số chứng minh thư" asp-for="IDCardNumber">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Ngày cấp:
                            </label>
                            <input class="form-control m-input" placeholder="Ngày cấp" asp-for="IDCardTime">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Thành phố:
                            </label>
                            <input class="form-control m-input" placeholder="Thành phố" asp-for="IDCardCity">
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed mt-5 mb-5"></div>
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">
                                3. Thông tin thanh toán:
                            </h3>
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Tên tài khoản:
                            </label>
                            <input class="form-control m-input" placeholder="Tên tài khoản" asp-for="BankAccountName">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Số tài khoản:
                            </label>
                            <input class="form-control m-input" placeholder="Số tài khoản" asp-for="BankAccountNumber">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Tên ngân hàng:
                            </label>
                            <input class="form-control m-input" placeholder="Tên ngân hàng" asp-for="BankAccountBank">
                        </div>
                        <div class="form-group m-form__group">
                            <label>
                                Chi nhánh:
                            </label>
                            <input class="form-control m-input" placeholder="Chi nhánh" asp-for="BankAccountBranch">
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-primary" style="font-family:roboto;">
                            Thay đổi
                        </button>                       
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

