@model CreateCampaignViewModel
@{
    ViewData["Title"] = "Tạo chiến dịch";

    var campaignType = (CampaignType)ViewBag.CampaignType;
}

<h2>@ViewData["Title"]</h2>
<h3 class="mt-4 mb-4">Bước 2: Thông tin về chiến dịch</h3>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-lg-8">
            <form class="form-create-campaign">
                <div class="form-group">
                    <label>Tên chiến dịch</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Tên chiến dịch">
                </div>
                <div class="form-group">
                    <label>Liên kết URL nội dung</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Liên kết URL nội dung">
                </div>
                <div class="form-group">
                    <label>Giới thiệu ngắn gọn sản phẩm, dịch vụ chạy chiến dịch</label>
                    <textarea class="form-control form-control-lg" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label>Yêu cầu của chiến dịch</label>
                    <textarea class="form-control form-control-lg" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Thời gian duy trì Avatar</label>
                    <select class="form-control">
                        <option>1 Tuần</option>
                        <option>2 Tuần</option>
                        <option>3 Tuần</option>
                        <option>4 Tuần</option>
                    </select>
                    <small><i style="color: red">Chỉ hiển thị cho loại chiến dịch "Thay hình Avatar"</i></small>
                </div>
                <div class="form-group">
                    <label>HashTag</label>
                    <input type="text" class="form-control form-control-lg" placeholder="HashTag">
                </div>
                <div class="form-group">
                    <div class="form-check pl-0">
                        <div class="custom-control custom-checkbox" data-toggle="modal" data-target="#modal-campaign-time-place">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1" style="font-weight: 400">
                                Bạn sẽ gửi sản phẩm trải nghiệm cho influencer hoặc mời họ đến trải nghiệm dịch vụ?
                            </label>
                            <p>
                                <small style="color: red">
                                    Cái này chỉ dùng cho hai loại chiến dịch sau: "Chia sẻ thông điệp, viết thêm caption",
                                    "Viết Review một sản phẩm hoặc tham gia trải nghiệm"
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-primary btn-bold-text" href="/campaign-create-step3.html">
                        Bước 3: Yêu cầu về đối tượng của chiến dịch
                    </a>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <div class="card border-0">
                <img src="@campaignType.ToShortName()" width="334" height="209" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        @campaignType.ToDisplayName()
                    </h5>
                    <p class="card-text">

                        @campaignType.ToDescription()
                    </p>
                </div>
            </div>
            @if (campaignType != CampaignType.ShareContent)
            {
                <div class="card border-0">
                    <div class="card-body">
                        <h5>Nội dung mẫu</h5>
                        <textarea class="form-control form-control-lg" rows="3" placeholder="Nội dung mẫu chiến dịch viết tại đây" asp-for="SampleContentText"></textarea>
                    </div>
                    <div class="card-body">
                        <h5>Ảnh chiến dịch cung cấp</h5>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sampleContent" data-target="#sampleContentWrap" multiple>
                            <label class="custom-file-label" for="sampleContent">Tải ảnh chiến dịch</label>
                        </div>
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a data-toggle="popover" href="javascript:;" data-content="Tối thiểu: 640px x 640px, Tối đa: 2048px x 2048px">Kích cỡ ảnh Avatar?</a>
                                </li>
                                <li>
                                    <a data-toggle="popover" href="javascript:;" data-content="Tối thiểu: 1200px x 628px, Tối đa: 3840px x 2400px">Kích cỡ ảnh bài viết?</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div id="sampleContentWrap" class="list-sample-campaign-images mt-3">


                        </div>
                       
                    </div>
                </div>
            }
        </div>
    </div>
</div>