<footer>
    <div class="row row-7 pl-70 pt-40 pb-50">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img/logo_white.png">
                </div>
            </div>
            <div class="row pt-20">
                <div class="col-md-3">
                    <h3 class="txt-bold txt-white h4">CONTACT</h3>
                    <ul class="list-unstyled">
                        <li class="txt-white pb-10">+ Số điện thoại: 0975119599</li>
                        <li class="txt-white pb-10">+ Email: contact@microkols.com</li>
                        <li class="txt-white pb-10">
                            + Địa chỉ: Tầng 3 tòa nhà Housing, số 299 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội, Việt Nam
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="txt-bold txt-white h4">SITEMAP</h3>
                    <ul class="list-inline list-unstyled">
                        <li class="txt-white pb-10 w-45">
                            <a href="/introduce.html" style="color:#ffffff;text-decoration:none;">Giới thiệu</a>
                        </li>
                        <li class="txt-white pb-10 w-45">
                            <a href="/contact.html" style="color:#ffffff;text-decoration:none;">Liên hệ</a>
                        </li>
                        <li class="txt-white pb-10 w-45">
                            <a href="/policy.html" style="color:#ffffff;text-decoration:none;">
                                Chính sách &amp; Quy định
                            </a>
                        </li>
                        <li class="txt-white pb-10 w-45">
                            Đăng ký
                        </li>
                        <li class="txt-white pb-10 w-45">
                            <a href="/qna.html" style="color:#ffffff;text-decoration:none;">Hỏi &amp; Đáp</a>
                        </li>
                        <li class="txt-white pb-10 w-45">
                            Đăng nhập
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 class="txt-bold txt-white h4">FOLLOW US</h3>
                    <img src="/img/icon_social.png">
                </div>
                <div class="col-md-3">
                    <h3 class="txt-bold txt-white h4">KẾT NỐI QUA FACEBOOK</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/Microkols/" data-tabs="timeline" data-width="262" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Microkols/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Microkols/">Micro KOLs</a></blockquote></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <div class="txt-white text-left">© Microkols All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
