<div class="row row-6 pl-70 pt-40 pb-50">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div id="tab-pannel">
                    <div class="row row-bottom-border">
                        <div class="col-md-6">
                            <span class="qa-title">MICROKOLS Q&amp;A</span>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#home">
                                        Câu hỏi chung
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#merchant">
                                        Doanh nghiệp
                                    </a>
                                </li>
                                <li><a data-toggle="tab" href="#influencer">Influencer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">
                                            <div class="panel">
                                                <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse1a" aria-expanded="true" aria-controls="collapse1a">
                                                    <span>1</span> Tôi có thể sử dụng hệ thống của bạn cho mục đích gì?
                                                </a>
                                                <div id="collapse1a" class="panel-collapse collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hệ thống là công cụ kết nối những người sử dụng facebook với doanh nghiệp. Thông qua tài khoản facebook  của mình, người dùng có thể giúp doanh nghiệp quảng bá thông tin của tới những người bạn bè của mình, qua đó có thêm một nguồn thu nhập chủ động.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse2a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>2</span> Hệ thống Microkols có làm ảnh hưởng tới tài khoản facebook của người dùng hay doanh nghiệp không?
                                                </a>
                                                <div id="collapse2a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hệ thống không gây bất cứ ảnh hưởng nào tới tài khoản người dùng, hệ thống chỉ sử dụng những thông tin mà bạn công khai trên tài khoản cá nhân cũng như trên hệ thống giúp doanh nghiệp tìm được những người phù hợp cho chiến dịch của mình. Bản thân những chiến dịch này có thể đã được bạn công khai với facebook từ trước đó, ngoài ra những thông tin khác chỉ nhằm giúp chúng tôi thanh toán các khoản thuế - phí cho bạn một cách chính xác, hiệu quả nhất.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="merchant" class="tab-pane fade">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">
                                            <div class="panel">
                                                <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse111a" aria-expanded="true" aria-controls="collapse1a">
                                                    <span>1</span> Ngoài những loại chiến dịch có trong list, còn có loại chiến dịch nào khác?
                                                </a>
                                                <div id="collapse111a" class="panel-collapse collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Ngoài chiến dịch có trong list, nếu quý doanh nghiệp muốn thực hiện chiến dịch khác có thể click vào dòng “yêu cầu khác” rồi ghi rõ nhu cầu kèm theo các tiêu chí phía dưới. Hệ thống sẽ xem xét khả năng của mình và thông báo lại cho doanh nghiệp.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse222a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>2</span> Tôi có thể xem kết quả của chiến dịch được không?
                                                </a>
                                                <div id="collapse222a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Có, bạn có thể xem kết quả sau khi chiến dịch đã kết thúc qua file excel hoặc phần theo dõi chiến dịch. Bạn cũng có thể đánh giá người thực hiện chiến dịch để cung cấp thông tin cũng như mức độ hài lòng của mình với hệ thống?
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse3a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>3</span> Sau khi thanh toán, do thay đổi kế hoạch đột xuất, tôi có thể lấy lại tiền được không?
                                                </a>
                                                <div id="collapse3a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Nếu bạn đã thanh toán và rồi muốn lấy lại số tiền đã chuyển khoản, bạn sẽ phải chịu 20% phí sử dụng dịch vụ của hệ thống, chi phí này đã bao gồm phí chuyển khoản từ tài khoản của hệ thống tới tài khoản doanh nghiệp của bạn.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse4a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>4</span> Nếu có một người dùng nào đó hủy bỏ việc thực hiện chiến dịch giữa chừng, doanh nghiệp có thể lấy lại tiền hoặc hủy bỏ chiến dịch đó không? Có mất phí gì không? Khi nào được nhận lại?
                                                </a>
                                                <div id="collapse4a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Việc chiến dịch không thực hiện được theo kế hoạch mà không phải lỗi do doanh nghiêp, doanh nghiệp có thể lấy lại số tiền còn lại của chiến dịch (số tiền dư do một tài khoản nào đó đã đăng ký nhưng không thực hiện hoặc thực hiện xong xuôi chiến dịch nhưng không đúng) mà không phải chịu bất cứ chi phí nào, bao gồm cả chi phí chuyển khoản từ hệ thống tới tài khoản của doanh nghiệp. Ngay sau khi chiến dịch kết thúc, doanh nghiệp có thể yêu cầu hoàn trả phần tiền dư, hệ thống sẽ trả lại phần tiền này trong vòng ít ngày sau đó.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse5a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>5</span> Hệ thống có cam kết KPIs không?
                                                </a>
                                                <div id="collapse5a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hệ thống không cam kết KPIs, do hệ thống đã đề xuất các tài khoản phục vụ các chiến dịch của doanh nghiệp đều là những KOLs có lượng tương tác trên mỗi bài post là cao nhất đồng thời hệ thống cũng đã lựa chọn những người phù hợp và có trách nhiệm cao nhất với công việc. Bên cạnh đó, chi phí mà doanh nghiệp phải trả là mức phí trên cơ sở không cam kết KPIs.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse6a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>6</span> Doanh nghiệp muốn thanh toán sau khi sử dụng dịch vụ của hệ thống?
                                                </a>
                                                <div id="collapse6a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hệ thống bắt buộc tất cả các doanh nghiệp cần thanh toán trước khi sử dụng dịch vụ.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse7a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>7</span> Tôi muốn xuất hóa đơn GTGT về cho doanh nghiệp của mình có được không?
                                                </a>
                                                <div id="collapse7a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Chi phí mà doanh nghiệp phải trả khi sử dụng dịch vụ là chi phi đã tính 10% VAT, hệ thống sẽ tự động xuất VAT gửi về cho cho doanh nghiệp. Doanh nghiệp cần kê khai đúng thông tin của mình để đảm bảo hóa đơn VAT xuất ra không bị nhầm lẫn.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse8a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>8</span> Tại sao tôi không thực hiện được chiến dịch?
                                                </a>
                                                <div id="collapse8a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn hãy xem lại phần “cấu hình” và kê khai đầy đủ thông tin doanh nghiệp của mình, sau đó click “đồng ý”. Khi tạo chiến dịch, hãy xem xét nhu cầu của bạn để lựa chọn yêu cầu phù hợp.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse9a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>9</span> Tôi cần lưu ý gì khi tạo chiến dịch?
                                                </a>
                                                <div id="collapse9a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn cần: <br>+ Xác định nhu cầu, đối tượng và ngân sách phù hợp<br>+ Phần mô tả chi tiết, hãy viết rõ ràng và chi tiết nội dung bạn muốn người dùng thực hiện <br>+ Đưa ra mức chi phí phù hợp và thay đổi mức chi phí khi không tìm được tài khoản như ý<br>+ Bạn cần thanh toán trước khi thực hiện chiến dịch.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse10a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>10</span> Nếu người dùng đăng sai thông điệp họ đã soạn trước đó, doanh nghiệp có bị tính phí không?
                                                </a>
                                                <div id="collapse10a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hệ thống sẽ báo cho người dùng biết việc họ đăng sai thông điệp của bạn và yêu cầu người dùng sửa. Chỉ khi nào thông điệp chính xác, người dùng mới được cộng tiền - nghĩa là lúc đó doanh nghiệp mới thực sự mất phí. Tương tự với trường hợp chia sẻ link livestream hoặc check-in sự kiện.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse11a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>11</span> Doanh nghiệp có thể tương tác những gì với người dùng, như thế nào?
                                                </a>
                                                <div id="collapse11a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Có. Doanh nghiệp có thể theo dõi và báo cáo nội người dùng nếu thấy họ có hành vi làm ảnh hưởng xấu tới doanh nghiệp tại chiến dịch của doanh nghiệp. Doanh Nghiệp có thể liên hệ trao đổi trực tiếp, tuy nhiên những vấn đề ngoài công việc của hệ thống thì hệ thống sẽ không chịu trách nhiệm.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div id="influencer" class="tab-pane fade">
                                    <div class="faqs-page block col-md-12">
                                        <div class="panel-group" id="agency" role="tablist" aria-multiselectable="true">
                                            <div class="panel">
                                                <a role="button" class="item-question" data-toggle="collapse" data-parent="#agency" href="#collapse12a" aria-expanded="true" aria-controls="collapse1a">
                                                    <span>1</span> Làm thế nào để tôi nhận được tiền của chiến dịch?
                                                </a>
                                                <div id="collapse12a" class="panel-collapse collapse in" role="tabpanel">
                                                    <div class="panel-body">
                                                        Sau khi khai báo đầy đủ thông tin trên hệ thống ở phần “cấu hình” tài khoản của bạn, bạn sẽ nhận được thông tin các chiến dịch phù hợp với mình, bạn cần xác nhận sẽ đăng ký thực hiện khi có thông báo chiến dịch mới để thực hiện các chiến dịch đúng - đủ theo yêu cầu của doanh nghiệp, chụp hình nghiệm thu nội dung bài post của mình và up lên ở phần thực hiện chiến dịch sau đó xác nhận hoàn thành chiến dịch là bạn có thể nhận được 1 khoản thanh toán rồi. Lưu ý, hệ thống sẽ không chi trả cho các chiến dịch mà bạn thực hiện sai yêu cầu của doanh nghiệp.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse13a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>2</span> Tôi sẽ nhận được bao nhiêu tiền cho mỗi chiến dịch?
                                                </a>
                                                <div id="collapse13a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Số tiền bạn nhận được phụ thuộc vào từng chiến dịch, bên cạnh đó phụ thuộc vào tài khoản facebook của bạn thuộc nhóm KOLs nào.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse14a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>3</span> Khi nào tôi sẽ nhận được thanh toán?
                                                </a>
                                                <div id="collapse14a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Sau khi kết thúc chiến dịch đúng và đủ bạn sẽ nhận được khoản thanh toán trong khoảng từ ngày 10 - 15 của tháng tiếp theo. Ví dụ, ngày 10-15 tháng 9 bạn sẽ nhận được khoản thanh toán của tháng 7.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse15a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>4</span> Tôi có thể đăng ký cùng lúc nhiều loại KOLs hay không?
                                                </a>
                                                <div id="collapse15a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Không, bạn chỉ có thể đăng ký một loại tài khoản KOLs phù hợp với bạn.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse16a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>5</span> Tôi sẽ phải chịu khoản thuế, phí nào?
                                                </a>
                                                <div id="collapse16a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn sẽ phải chịu thuế TNCN 10% trên số tiền bạn nhận được mỗi tháng, và phí chuyển khoản (nếu có) tuy nhiên hệ thống sẽ cố gắng tối ưu hóa chi phí chuyển khoản. Những khoản thuế - phí này hệ thống sẽ trừ trực tiếp khi thanh toán cho bạn, thông tin cụ thể sẽ được gửi tới tài khoản của bạn trước khi hệ thống chuyển khoản.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse17a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>6</span> Tôi có thể thay đổi tài khoản ngân hàng nhận tiền không?
                                                </a>
                                                <div id="collapse17a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn có thể thay đổi tài khoản nhận tiền theo nhu cầu của mình, tuy nhiên việc thay đổi tài khoản chỉ được chấp nhận từ ngày 11-30 của tháng, hệ thống sẽ chuyển khoản cho bạn theo thông tin mà bạn cung cấp từ ngày 01-09.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse18a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>7</span> Tôi có thể thay đổi loại tài khoản KOLs của mình hay không?
                                                </a>
                                                <div id="collapse18a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Có, một số tài khoản sẽ có thể thay đổi khi hết hạn về độ tuổi hoặc bạn đạt ngưỡng phù hợp của mỗi loại tài khoản theo yêu cầu của hệ thống <br> TK Thường =&gt; các tài khoản khác<br> Hotmom =&gt; Hotfacebookers, KOLs <br> Hotteen =&gt; tài khoản khác, khi bạn hết tuổi teen hoặc tài khoản facebook đạt ngưỡng phù hợp<br> Hotfacbook =&gt; KOLs<br> KOLs =&gt; không thể thay đổi.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse19a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>8</span> Tôi có thể dùng bao nhiêu tài khoản facebook để đăng ký?
                                                </a>
                                                <div id="collapse19a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn chỉ có thể dùng một tài khooản facebook duy nhất để đăng ký với hệ thống, nên chọn tài khoản có lượng tương tác tốt nhất để đảm bảo hiệu quả cho các chiến dịch. Lượng tương tác là một trong những yếu tố giúp doanh nghiệp và hệ thống lựa chọn bạn cho các chiến dịch.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse20a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>9</span> Tôi có cần tương tác với các nội dung mình post cho doanh nghiệp không?
                                                </a>
                                                <div id="collapse20a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Q9 - Có, bạn nên tương tác và chủ động tạo tương tác để bài post của bạn trở nên hiệu quả hơn, qua đó giúp bạn có thể nhận được nhiều chiến dịch hơn vì lượng tương tác là một trong những căn cứ để hệ thống gửi thông báo chiến dịch mới cho bạn.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse21a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>10</span> Tôi bị mất tài khoản facebook (hack), nếu muốn đăng ký lại thì phải làm thế nào?
                                                </a>
                                                <div id="collapse21a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Tài khoản facebook của bạn sẽ là duy nhất, nếu bạn bị mất tài khoản, bạn phải tạo tài khoản facebook mới, hãy thông báo cho chúng tôi khi tài khoản mới đạt đủ ngưỡng tối thiểu về lượt friends hoặc lượt theo dõi thì hệ thống sẽ chấp nhận tài khoản mới. Hãy đảm bảo tài khoản cũ của bạn không còn do bạn kiểm soát, nếu hệ thống phát hiện tài khoản cũ vẫn do bạn kiểm soát (vẫn là tài khoản chính bạn đang sử dụng) bạn có thể bị đánh tụt hạng về mức độ ưu tiên nhận chiến dịch.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse22a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>11</span> Những hành vi nào bị cấm khi tôi thực hiện chiến dịch?
                                                </a>
                                                <div id="collapse22a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Post sai nội dung, sai thời điểm theo yêu cầu, có hành vi gây ảnh hưởng xấu tới doanh nghiệp trong bài post....đều bị cấm,bạn có thể bị trừ tiền cho chiến dịch mình đã thực hiện hoặc bị xóa tài khoản vĩnh viễn. Những nội dung không tốt cho doanh nghiệp trước hoặc sau khi thực hiện chiến dịch có thể bị doanh nghiệp báo cáo để loại bạn khỏi chiến dịch của họ.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse23a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>12</span> Những yếu tố nào được ưu tiên để nhận được nhiều chiến dịch?
                                                </a>
                                                <div id="collapse23a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bên cạnh việc tài khoản của bạn phù hợp với yêu cầu của mỗi chiến dịch, những yếu tố mà hệ thống ưu tiên để gửi thông báo chiến dịch có thể gồm: Tài khoản hợp tác độc quyền của hệ thống, tương tác trong các bài post của bạn và bài post trước đó của doanh nghiệp, lượng theo dõi, lượng friends, đánh giá của doanh nghiệp, lịch sử thực hiện chiến dịch....
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse24a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>13</span> Tôi đã đăng ký thực hiện chiến dịch, nhưng có việc đột xuất nên không thể thực hiện chiến dịch, vậy tôi có thể hủy việc thực hiện không?
                                                </a>
                                                <div id="collapse24a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn nên cân nhắc khi đăng ký thực hiện chiến dịch, nếu trường hợp đột xuất bạn hãy thông báo hủy chiến dịch càng sớm càng tốt để đảm bảo không ảnh hưởng tới doanh nghiệp cũng như hệ thống. Tuy nhiên chắc chắn bạn sẽ bị đánh giá thấp cho việc ưu tiên nhận chiến dịch tiếp theo.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse25a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>14</span> Tôi muốn nhận tiền sớm hơn ngày nhận tiền của hệ thống được không?
                                                </a>
                                                <div id="collapse25a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Không, hệ thống sẽ trả thu nhập cho bạn vào ngày 10-15 hàng tháng cho những chiến dịch bạn đã thực hiện tháng trước đó và sẽ không trả trước thời điểm trên cho người dùng.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse26a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>15</span> Làm sao để tôi theo dõi khi có chiến dịch mới?
                                                </a>
                                                <div id="collapse26a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn chỉ có cách vào website của hệ thống https://microkols.com và đăng nhập tài khoản của mình. Hãy thường xuyên truy cập vào website để cập nhật thông báo chiến dịch nhé.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse27a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>16</span> Tại sao tôi không thể thực hiện chiến dịch của mình khi đã khai báo đầy đủ thông tin ở phần “cấu hình”?
                                                </a>
                                                <div id="collapse27a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Bạn hãy kiểm tra lại những thông tin cần khai báo ở phần cấu hình xem đã đúng và đủ hay chưa đã liên kết với tài khoản facebook của mình hay chưa? Nếu bạn chưa liên kết với tài khoản facebook  của mình, hãy thoát ra và đăng nhập lại - ở phần đăng nhập sẽ có biểu tượng liên kết với tài khoản facebook - click vào đó bạn nhé. Nếu vẫn không được hãy gửi thông báo phản hồi qua email cho hệ thống ở cuối website ngay lập tức nhé.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse28a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>17</span> Tôi có một vài ý kiến muốn đóng góp với hệ thống, tôi sẽ trao đổi với ai?
                                                </a>
                                                <div id="collapse28a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Tuyệt quá, hãy gửi email cho hệ thống ở cuối website nhé. Cảm ơn bạn nhiều.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse29a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>18</span> Tôi muốn trở thành thành viên tích cực để nhận nhiều chiến dịch hơn, tôi phải làm thế nào?
                                                </a>
                                                <div id="collapse29a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Trở thành thành viên tích cực của hệ thống bạn sẽ được ưu tiên nhận chiến dịch nhiều hơn, bạn có thể đăng ký sau khi thực hiện chiến dịch đầu tiên và có tương tác tốt bằng cách đăng ký ở phần cấu “cấu hình”
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse30a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>19</span> Tôi là một trong số “hotteen”, “hotmoms”, “hotfacebooker”, “KOLs” tôi muốn hợp tác độc quyền với hệ thống, tôi sẽ được quyền lợi gì và cần làm gì?
                                                </a>
                                                <div id="collapse30a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Hãy click vào đó và đọc kỹ các điều khoản của hệ thống, nếu bạn đồng ý 2 bên sẽ ký một hợp đồng độc quyền. Bạn sẽ nhận được nhiều ưu tiên khi thực hiện các chiến dịch từ cả trong và ngoài hệ thống với mức phí cũng như thời gian thanh toán linh động hơn, ngoài ra là những hỗ trợ về mặt truyền thông khác.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="item-question collapsed" role="button" data-toggle="collapse" data-parent="#agency" href="#collapse31a" aria-expanded="false" aria-controls="collapse2a">
                                                    <span>20</span> Cho tôi hỏi chi tiết các công việc sẽ cần làm có trên hệ thống?
                                                </a>
                                                <div id="collapse31a" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="panel-body">
                                                        Chi tiết các công việc sẽ cần làm: ....
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>




            </div>
        </div>

    </div>
</div>